.button-group {
  @include clearfix;
  input[type="submit"] {
    @include button(simple, white);
    float: left;
    font-size: $base-font-size;

    &.active {
      @include button(simple, $base-accent-color);
      font-size: $base-font-size;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-left: 1px solid lighten($light-gray, 10);
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid lighten($light-gray, 10);
    }
  }
}