.search-bar {
  @include clearfix;
  @extend %gradient;
  border: 1px solid $base-border-color;
  background-color: $light-gray;
  border-radius: $base-border-radius;
  padding: 0.5em;
  margin-bottom: 1em;

  .search-item {
    @include span-columns(12);
    position: relative; 

    @include media($medium-screen) {
      @include span-columns(6);
    }
  }

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      width: 100%;
      padding: 1em;
      font-style: italic;
      border-radius: $base-border-radius*2;
      top: 0;
      left: 0;
      margin: 0;
    }

    input[type=submit] {
      box-shadow: none;
      @extend %gradient;
      border: 1px solid $base-border-color;
      text-shadow: 0 1px 0 white;
      color: darken($light-gray, 20);
      position: absolute;
      right: 0.3em;
      top: 0.3em;
      bottom: 0.3em;
      z-index: 1;
      width: 6em;
      padding: 0;
      cursor: pointer;

      &:hover {
        @extend %gradient;
        color: darken($light-gray, 10);
        box-shadow: none;
      }

      &:active {
        border: 1px solid $base-border-color;
        color: darken($light-gray, 30);
        text-shadow: 0 1px 0 transparentize(white, 0.5);
        box-shadow: none;
      }
    }
  }  
}
