$table-padding: 0.5em;

.table-borders {
  border: 1px solid $base-border-color;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    th {
      @extend %gradient;
      padding: $table-padding;
      background-color: $subtle-gray;
      border-left: 1px solid $base-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: rgb(255,255,255);

    td {
      padding: $table-padding;
      border-left: 1px solid $base-border-color;
      border-top: 1px solid $base-border-color;
      border-bottom: 0px;
    }
  }
}

.two {
  tbody {
    tr:nth-child(odd) > td, tr:nth-child(odd) > th {
      background-color: $subtle-gray;
    }
  }
}

.table-hover {
  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $subtle-gray;
    }
  }
}

.table-rounded-border {
  border-radius: 4px;

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: 4px;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: 4px;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: 4px;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: 4px;
    }
  }
}