.tabs {
  @include clearfix;
  width: 100%;
  margin-bottom: $base-line-height;

  li {
    list-style: none; 
    display: block;

    a {
      display: block;
      padding: 0.5em 1em;
      font-weight: bold;
      background-color: $inactive-color;
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        background-color: $inactive-hover-color;
      } 

      &.active {
        background-color: $active-color;
        border-bottom: 1px solid darken($base-border-color, 15%);
      }
    }

    section {
      padding: 1em;
      display: none; 
      background-color: $content-color;
      overflow: hidden; 
    }
  }
}

@include media($medium-screen) { 
  .tabs {
    position: relative; 
    border: none; 

    li { 
      display: inline; 

      a {
        display: inline-block; 

        &.active {
          border: 0;
        }
      }
    }

    section { 
      padding: 1em;
      border-top-right-radius: $base-border-radius; 
      border-bottom-left-radius: $base-border-radius; 
      border-bottom-right-radius: $base-border-radius; 
      float: left;
      left: 0;  
    }
  }
}
