/* Success, error & notice boxes for messages and errors. */
%flash {
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;
  font-weight: bold;
}

.error, #flash_failure {
  @extend %flash;
  background: $error-color;
  color: darken($error-color, 60);

  a {
    color: darken($error-color, 70);

    &:hover {
      color: darken($error-color, 90);
    }
  }
}

.notice, #flash_notice {
  @extend %flash;
  background: $notice-color;
  color: darken($notice-color, 60);

  a {
    color: darken($notice-color, 70);

    &:hover {
      color: darken($notice-color, 90);
    }
  }
}


.success, #flash_success {
  @extend %flash;
  background: $success-color;
  color: darken($success-color, 60);

  a {
    color: darken($success-color, 70);

    &:hover {
      color: darken($success-color, 90);
    }
  }
}

