$sidebar-width: em(200);

section.inner-content {
  margin-left: auto;
}

.refills-menu-anchor {
  display: inline-block;
  @include transition (all 0.2s ease-in-out);
  cursor: pointer;
  border: 1px solid darken(desaturate(#93E9BE, 50), 15);;
  height: 50px;
  width: 50px;
  padding: .7em 1em;
  border-radius: 50%;
  font-size: 1em;
  margin-bottom: 1.5em;
  position: fixed;
  top: 4.5em;
  left: 1em;
  z-index: 9999;

  &.fixedsticky-on {
    margin-top: -3.5em;
  }

  &.fixedsticky-off {
    position: fixed;
  }

  img {
    height: 26px;
    width: 30px;
    max-width: 100%;
  }
}

.refills-menu-anchor-moved {
  top: 1em;
}

.fixedsticky-dummy {
  height: 0 !important;
}

.refills-menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: teal;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0;
    visibility: visible;
  }
}

.er_toc_title {
  display: none;
}

.er_toc_top {
  display: none;
}

.er_toc {
  $base-line-height: 1.5em !default;
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.2s linear);
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: black;
  z-index: 999999;

  ul {
    margin: 0;
    padding: 1em;
  }

  ul li {
    a {
      color: white;
      font-weight: 300;
      line-height: $base-line-height;
      font-size: 1em;
      text-decoration: none;

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  ul ul {
    margin-top: .5em;
    margin-bottom: 1em;
    padding: 0;
  }

  ul ul li a {
    font-weight: 200;
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}
