$refills-color: lighten(desaturate(teal, 60), 40);
$base-body-color: white;
$refills-nav-height: 60px;

@font-face {
  font-family: Fairview;
  src: url("/fonts/Fairview_Regular.otf") format("opentype");
}

.external {
  // color: white;
  height: 84px;
  width: 84px;
  border: 2px solid white;
  padding: 2px;
  margin: auto;
  margin-bottom: 3em;
  background-image: url(../images/cat.png);
  background-size: 80px 80px;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
    border: 2px solid yellow;
    border-radius: 50%;
  }
}

body {
  background-color: $base-body-color; 
  min-width: 320px;
}

.refills-header {
  @include clearfix;
  background-color: $base-body-color;
  clear: both;
  margin-top: $base-line-height * 2;
  width: 100%;

  a {
    color: $base-font-color;
    font-weight: bold;

    &:hover, &:active, &:focus {
      color: $refills-color;
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    margin: 0 0 $base-line-height*.25;

    @include media($medium-screen) {
      font-size: 3rem;
    }

    @include media($large-screen) {
      font-size: 4rem;
    }
  }

  h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}


.menu-wrapper {
  @include clearfix;
}

/////////////////////////

.refills-wrapper {
    @include outer-container;
    padding: 1em;

  h1.main-header {
    background-color: $refills-color;
    display: inline-block;
    padding: 0.5em;
  }
}

.refill {
  margin-bottom: 2em;
  padding-bottom: 3em;
  position: relative;
  @include clearfix;

  > h3 {
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: 1.3em;
  }
}

//////////////////

// this centers the refill and sets back to text-align left below first object
.refill-centering {
  text-align: center;
  & > * {
    display: inline-block;
    & > * {
      text-align: left;      
    }
  }
}

.line-behind-text {
  text-align: center;
  border-bottom: 1px solid #CACACA;
  margin-bottom: $base-line-height *3;
}

.line-behind-text h6 {
  font-family: 'Fairview';
  text-transform: uppercase;
  color: gray;
  font-weight: 800;
  display: inline-block;
  position: relative;
  font-size: 1.2em;
  top: 40px;
  background: white;
  padding: 0 10px;
}

.refill h6 {
  margin-bottom: $base-line-height;
}

/////////////////////////

.js-hide-code, 
.js-show-code {
  background: #F5F2F0;
  border: 1px solid #BEBCBC;
  color: #7E7A7A;

  &:hover {
    background: darken(#F5F2F0, 3);
    color: darken(#ACACAC, 10);
  }
}

.js-show-code {
  display: inline-block;
  padding: 0.5em 1em;
  width: 8em;
  border-radius: $base-border-radius;
}

.js-hide-code {
  display: none;
  padding: 0.5em 1em;
  border-radius: $base-border-radius;
  width: 8em;
}

.refill-snippet {
  margin-top: $base-line-height *2;
}

.refill-control {
  display: block;
  text-align: center;

  width: 100%;
}

//////////////////////////

pre {
  height: 350px;
  border-top: 2px solid black;

  @include media($medium-screen) {
    box-shadow: -2px 0 0 rgba(0,0,0,0.1);
  }
}

.copy-source {
  background-color: $dark-gray;
  font-size: $base-font-size/2;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.3em 1em;
}

.snippet {
  display: none;
  padding: 0;
  margin-top: $base-line-height !important;
  height: em(400);

  @include media($medium-screen) {
    width: 50%;
    float: left;
  }

  &:first-child {

  }

  code {
    max-height: em(400);
    font-size: $base-font-size/1.5;
    line-height: $base-line-height/2;
    overflow: scroll;
  }
}

.token.variable {
  background-color: transparent;
}


