$sidebar-width: em(200);

section.inner-content {
  margin-left: auto;
}

.refills-menu-anchor {
  @include inline-block;
  cursor: pointer;
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  padding: .7em 1em;
  border-radius: 50%;
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 9999;

  img {
    height: 26px;
    width: 30px;
  }
}

.refills-menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: teal;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0;
    visibility: visible;
  }
}

.er_toc_title {
  display: none;
}

.er_toc_top {
  display: none;
}

.er_toc {
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all .2s linear);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #1D3842;
  z-index: 999999;

  ul {
    padding: 1em;
  }

  ul li {    
    a {
      color: $light-gray;
      font-weight: 800;
      font-size: $base-font-size;

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  ul ul {
    margin-top: .5em;
    margin-bottom: 1em;
    padding: 0;
  }

  ul ul li a {
    font-weight: 200;
  }
  
  &.is-visible {
    @include transform(translateX(0));
  }
}
  
