$refills-color: lighten(desaturate(teal, 60), 40);
$base-background-color: white;
$refills-nav-height: 60px;
$logo-color: #93E9BE;
$refills-anchor-color: #F55481;
$hero-background: lighten(desaturate($logo-color, 25), 10);

$serif: 'Lusitana', serif;

body {
  background-color: $base-background-color; 
  min-width: 320px;
  -webkit-backface-visibility: hidden;
}

.refills-header {
  @include clearfix;
  background-color: #E7F1EC;
  clear: both;
  margin-bottom: 4em;
  width: 100%;
  text-align: center;
  padding: 5em 0;

  @include media($medium-screen) {
    padding: 6em 0;
  }

  @include media($large-screen) {
    padding: 6em 0 9em 0;
  }

  .refills-logo {
    margin: auto;
    margin-bottom: 1.4em;
    max-width: 8em;
    
    img {
      background: white;
      border-radius: 50%;
      padding: .5em;
    }
  }

  h2 {
    font-size: 1.8em;
    text-align: center;
    font-weight: 100;
    font-family: $serif;
    margin: 0 0 $base-line-height*.25;
    margin: auto; 
    max-width: 90%;
    margin-bottom: 1em;

    @include media($medium-screen) {
      font-size: 3em;
      max-width: 90%;
      margin-bottom: 1em;
    }

    @include media($large-screen) {
      font-size: 3em;
      max-width: 60%;
      margin-bottom: .8em;
    }
  }

  h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  a {
    color: $refills-anchor-color;
    &:hover {
      color: lighten($refills-anchor-color, 10);
    }
  }

  p {
    font-family: $serif;
    color: darken(desaturate($logo-color, 50), 15);
    display: inline;
    padding-top: 1em;
  }
}

/////////////////////////////////

.menu-wrapper {
  @include clearfix;
}

.refills-wrapper {
    @include outer-container;
    padding: 1em;

  h1.main-header {
    background-color: $refills-color;
    display: inline-block;
    padding: 0.5em;
  }
}

h5 {
  font-family: 'Lusitana', serif;
  font-size: 2em;
  color: #BBB295; 
  text-align: center;
}

//////////////////

.refill {
  margin-bottom: 2em;
  padding-bottom: 1em;
  position: relative;
  @include clearfix;

  > h3 {
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: 1.3em;
  }
}

// this centers the refill and sets back to text-align left below first object
.refill-centering {
  text-align: center;
  & > * {
    display: inline-block;
    & > * {
      text-align: left;      
    }
  }
  script {
    display: none;
  }
}

.line-behind-text {
  text-align: center;
  border-bottom: 1px solid #CACACA;
  margin-bottom: $base-line-height *3;
}

.line-behind-text h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 1em;
  top: 34px;
  background: white;
  padding: 0 10px;
}

.refill h6 {
  margin-bottom: $base-line-height;
}

/////////////////////////

.js-hide-code, 
.js-show-code {
  border-top: 1px dashed #BEBCBC;
  color: #7E7A7A;
  text-transform: uppercase;
  font-size: .8em;
  width: 9em;


  &:hover {
    // background: darken(desaturate(#F5F2F0, 10), 3);
    color: $base-accent-color;
  }
}

.js-show-code {
  display: inline-block;
  padding: 0.5em 1em;
  // border-radius: $base-border-radius;
}

.js-hide-code {
  display: none;
  padding: 0.5em 1em;
  // border-radius: $base-border-radius;
}

.refill-snippet {
  margin-top: $base-line-height *3;
  padding: 0 1em;
}

.refill-control {
  display: block;
  text-align: center;
  margin-bottom: 2em;
  width: 100%;
}

//////////////////////////

pre[class*="language-"] {
  height: 300px;
  border-top: 2px solid silver;
  background: #F8F8F8;
  line-height: 1em;
}

.copy-source {
  background-color: lighten($dark-gray, 20);
  border-radius: 10px;
  font-size: $base-font-size/2;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.4em 1em;

  &:hover, &:active {
    background-color: lighten($dark-gray, 20);
    color: white;
  }
}

.snippets-table {
  display: none;

  td {
    border-bottom: 0;
  }
}

.snippet {

  @include media($medium-screen) {
    margin-bottom: 2em;
  }

  code {
    max-height: em(400);
    font-size: .6em;
    line-height: 1.4em;
    overflow: scroll;
  }
}

.token.variable {
  background-color: transparent;
}

footer.refills-footer {
  padding-top: 1em;
  padding-bottom: 2em;
  color: silver;
  text-align: center;
  
  a {
    color: $refills-anchor-color;
  }

  img {
    display: block;
    height: 60px;
    margin: auto;
    margin-bottom: 2em;
  }
}

///////////////////////// refill adjustments

.refill-smaller {
  @include media($large-screen) {
    width: 70%;
    margin: auto;
  }
}

///////////////////////// 

@include keyframes(fadeInAccordionTabsArticles) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.accordion-tabs-type-systems {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: lighten($light-gray, 15);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  border-radius: $base-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
 
  @include media($tab-mode) {
    border: none;
  }
 
  .tab {
    @include media($tab-mode) {
      display: inline;
    }
 
    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
 
    &:last-child .tab-link {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
 
      @include media($tab-mode) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
 
    .tab-link-type-system {
      background-color: transparent;
      border-bottom: 1px solid $tab-border-color;
      color: $dark-gray;
      display: block;
      font-size: .9em;
      letter-spacing: .6px;
      font-weight: 200;
      padding: $base-line-height/2 $gutter/2;
      text-align: center;
 
      @include media($tab-mode) {
        @include inline-block;
        border-bottom: 0;
        border-top-right-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }
 
      &:hover {
        color: $base-link-color;
      }
 
      &:focus {
        outline: none;
      }
    }
 
    section {
      padding: $base-line-height $gutter;
      background: $tab-content-background;
      display: none;
      overflow: hidden;
      width: 100%;
 
      @include media($tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
        border-top: $tab-border;
        float: left;
        left: 0;
        padding: $base-line-height/2 $gutter;
      }

      .tab-content {
        opacity: 0;
      }
    }
 
    &.js-is-active {
      border-bottom: $tab-border;

      @include media($tab-mode) {
        border-bottom: 0;
      }

      .tab-link-type-system {
        background-color: $tab-active-background;
        border-bottom: 0;
 
        @include media($tab-mode) {
          background-color: $tab-active-background;
          border: $tab-border;
          border-bottom: 1px solid $tab-active-background;
          margin-bottom: -1px;
        }
      }
 
      section {
        display: block;

        .tab-content {
          @include animation-name(fadeInAccordionTabsArticles);
          @include animation-duration(1s);
          opacity: 1;
        }
      }
    }
  }
}
