// Typography
$base-font-family: $helvetica;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-color: #333;
$light-color: #fff;

// Background
$base-background: #fff;
$base-background-inset: darken($base-background, 4%);
$base-background-inset-shadow: inset 0 0 2px darken($base-background, 20%);
$base-font-color-on-background: silver;

// Outline on background
$base-outline-color: transparentize($base-border-color, 0.8);
$base-outline: 1px solid $base-outline-color;

// Notification Colors
$alert-color: #fff6bf;
$error-color: #fbe3e4;
$notice-color: #e5edf8;
$success-color: #e6efc2;

// Font Colors
$action-color-dark: #477dca;
$action-color-light: lighten($action-color-dark, 25);

// Box
$base-box-background: lighten(black, 20); //darken($base-background, 3%);
$base-border-color: black; //darken($base-box-background, 10%);
$base-border: 1px solid $base-border-color;
$base-box-background-inset: darken($base-box-background, 5%);
$base-box-shadow: 0 1px 2px transparentize($base-font-color-on-box, 0.8);
$base-box-shadow-inset: inset 0 2px 2px darken($base-box-background, 10%);
$base-font-color-on-box: dimgray;


// Forms
$form-background: #fff;
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color-dark, $lightness: -5%, $alpha: -0.3);

// Media
$medium-screen: em(640);
$large-screen: em(860);

// change all variable values and see what breaks!

body {
  @include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
