$sidebar-width: 12.5em;

section.inner-content {
  margin-left: auto;
}

.refills-menu-anchor {
  @include position(fixed, 4.5em null null 1em);
  @include size(50px);
  border: 1px solid $refills-secondary-anchor-color;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  fill: $refills-secondary-anchor-color;
  margin-bottom: 1.5em;
  padding-top: 0.9em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  z-index: 9999;

  &.fixedsticky-on {
    margin-top: 0;
  }

  &.fixedsticky-off {
    position: fixed;
  }

  img {
    @include size(30px, 26px);
    max-width: 100%;
  }
}

.refills-menu-anchor-moved {
  top: 1em;
}

.fixedsticky-dummy {
  height: 0 !important;
}

.refills-menu-screen {
  @include position(fixed, 0);
  background-color: teal;
  opacity: 0;
  transition: all 0.15s ease-out;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0;
    visibility: visible;
  }
}

.er_toc_title,
.er_toc_top {
  display: none;
}

.er_toc {
  $base-line-height: 1.5em !default;
  @include position(fixed, 0 auto 0 0);
  @include size(220px, 100%);
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.2s linear;
  z-index: 999999;

  ul {
    margin: 0;
    padding: 1em;
  }

  ul li {
    a {
      color: darken(#fff, 15%);
      font-size: 1em;
      font-weight: 300;
      line-height: $base-line-height;
      text-decoration: none;

      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  ul ul {
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding: 0;
  }

  ul ul li a {
    font-weight: 200;
  }

  &.is-visible {
    transform: translateX(0);
  }
}
