$refills-serif: "Lusitana", $georgia;
$refills-narrow-sans: "Oswald", sans-serif;
$refills-second-serif: $georgia;

$refills-nav-height: 60px;

$refills-body-background-color: #fff;
$refills-color: lighten(desaturate(teal, 60%), 40%);
$refills-accent-color: #477dca;
$refills-logo-color: #93e9be;
$refills-anchor-color: #f55481;
$refills-hero-background: #e7f1ec;
$refills-highlight-color: #bbb295;
$refills-white-shadow: 0 1px 1px transparentize(#fff, 0.6);

$refills-medium-screen: em(640);
$refills-large-screen: em(860);
