@import "vendor/normalize.css";
@import "vendor/fixedsticky.css";
@import "vendor/prism.css";

@import "bourbon";
@import "neat";

@import "refills-variables";
@import "refills-styles";
@import "refills-header";
@import "refills-menu";
@import "refills-notice";
@import "refill";
@import "refills-footer";
@import "bourbon-nav";
@import "refills-nav";

.refills-patterns {
  @import "refills/accordion-tabs";
  @import "refills/accordion-tabs-minimal";
  @import "refills/cards";
  @import "refills/centered-navigation";
  @import "refills/comment";
  @import "refills/device";
  @import "refills/flex-boxes";
  @import "refills/footer";
  @import "refills/footer-2";
  @import "refills/grid-items";
  @import "refills/grid-items-lines";
  @import "refills/hero";
  @import "refills/icon-bullet-points";
  @import "refills/logo-section";
  @import "refills/maps";
  @import "refills/navigation";
  @import "refills/scroll-on-page";
  @import "refills/search-tools";
  @import "refills/side-image";
  @import "refills/tables";
  @import "refills/tables-minimal";
  @import "refills/vertical-tabs";
}

.refills-components {
  @import "refills/accordion";
  @import "refills/animate";
  @import "refills/animate-info";
  @import "refills/badges";
  @import "refills/breadcrumbs";
  @import "refills/button-group";
  @import "refills/dropdown";
  @import "refills/expander";
  @import "refills/fade-in";
  @import "refills/flashes";
  @import "refills/hover-tile-animation";
  @import "refills/image-gradient-dynamic";
  @import "refills/modal";
  @import "refills/pagination";
  @import "refills/parallax";
  @import "refills/progress-bar";
  @import "refills/progress-bar-indication";
  @import "refills/ribbon";
  @import "refills/search-bar";
  @import "refills/sliding-panel";
  @import "refills/switch";
  @import "refills/stats";
  @import "refills/texture-legend";
  @import "refills/textures";
  @import "refills/tooltip";
  @import "refills/video";
}

.type-systems {
  @import "refills/type-system-geometric";
  @import "refills/type-system-rounded";
  @import "refills/type-system-sans";
  @import "refills/type-system-serif";
  @import "refills/type-system-slab";
  @import "refills/type-system-traditional";
}

.notice {
  font-weight: 600;
  margin: 0;
  padding: 2rem 4rem;
  text-align: center;
}
