<div class="dropdown">
  <button data-dropdown="toggle"
          aria-haspopup="true"
          aria-expanded="false"
          aria-controls="example-dropdown">
    Click to toggle example
    <span aria-hidden="true"> ▾</span>
  </button>
  <ul class="dropdown-menu"
      id="example-dropdown"
      data-dropdown="menu"
      aria-hidden="true"
      aria-label="Example Dropdown Menu">
    <li class="dropdown-menu-item">Example Item</li>
    <li class="dropdown-menu-item">Example Item</li>
    <li class="dropdown-menu-item">Example Item</li>
    <li class="dropdown-menu-item">Example Item</li>
  </ul>
</div>
