<div class="example-wrapper">
  <button aria-haspopup="true" aria-expanded="false">Click to toggle example &#9662;</button>
  <ul class="example">
    <li class="example-item">Example Item</li>
    <li class="example-item">Example Item</li>
    <li class="example-item">Example Item</li>
    <li class="example-item">Example Item</li>
  </ul>
</div>
