<div data-tab-wrapper>
  <ul class="tab-list" data-tablist>
    <li>
      <a href="#tab-1" class="tab-link">Tab 1</a>
    </li>
    <li>
      <a href="#tab-2" class="tab-link">Tab 2</a>
    </li>
    <li>
      <a href="#tab-3" class="tab-link">Tab 3</a>
    </li>
  </ul>

  <section id="tab-1" class="tab-panel" data-tabpanel>
    <p>First tab's content</p>
  </section>

  <section id="tab-2" class="tab-panel" data-tabpanel>
    <p>Second tab's content</p>
  </section>

  <section id="tab-3" class="tab-panel" data-tabpanel>
    <p>Third tab's content</p>
  </section>
</div>
