.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    flex-basis: 20em;
    flex-grow: 1;
    margin: 0 1em;
  }

  .card-image {
    max-height: 150px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
