.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  .card {
    @include flex-basis(20em);
    @include flex-grow(1);
    margin: 0 1em;
  }
  
  .card-image {
    max-height: 150px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
