.expander {  
  .expander-trigger {
    display: block;

    &:before {
      content: "\25BC";
      margin-right: 0.5em;
    }
  }

  .expander-hidden {
    &:before {
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}
