.sliding-panel-content {
  $sliding-panel-width: 220px;

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width, 100%);
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(- $sliding-panel-width);
  transition: all 0.25s linear;
  z-index: 999999;

  &.is-visible {
    transform: translateX(0);
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0);
  background: #000;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-close {
  cursor: pointer;
}

// Based on code by Diego Eis
