.tooltip-item {  
  display: inline-block;
  position: relative;
  text-align: center;

  &:focus .tooltip,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include position(absolute, null 0 3em);
    @include transition(all 0.2s ease-in-out);
    background-color: #f5f5f5;
    margin-left: -2em;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    width: 12em;
    z-index: 10;
  }

  .tooltip::after {
    @include position(absolute, null 0 null);
    bottom: -1em;
    color: #f5f5f5;
    content: "▼";
    font-size: 1.4em;
    text-align: center;
  }

  .tooltip-content {
    margin-bottom: 0;
  }
}
