ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: .75em;
    padding-left: 1.5em;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: .75em;
    padding-left: 1.5em;
  }
}

dl {
  margin-bottom: .75em;

  dt {
    font-weight: bold;
    margin-top: .75em;
  }

  dd {
    margin: 0;
  }
}
