.accordion-tabs {
  $large-screen: em(860) !default;

  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($large-screen) {
      display: inline;
    }
  }

  .tab-link {
    display: block;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline-block;
    }
  }

  .is-active {
    color: #ff0000;
  }

  .tab-content {
    display: none;
    width: 100%;

    @include media($large-screen) {
      float: left;
    }
  }
}
