.accordion-tabs {
  $tab-link-color: $base-font-color-on-box;
  $tab-color: $base-font-color-on-box;
  $tab-border: $base-border;
  $tab-content-background: $base-box-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-mode: $medium-screen;

  @include clearfix;
  color: $tab-color;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0;

  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    border: $tab-border;
  }

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;

    @include media($tab-mode) {
      @include inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }

    &:hover {
      color: $action-color-dark;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;

    @include media($tab-mode) {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
    }
  }
}
