.accordion-tabs { // small screens: accordion
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $base-body-color;
  $tab-inactive-hover-color: darken($light-gray, 5);

  @include clearfix;
  @include fill-parent;
  border: $tab-border;
  border-radius: $base-border-radius;
  margin-bottom: $base-line-height;

  li {
    &:first-child a {
      border-top-left-radius: $base-border-radius; 
      border-top-right-radius: $base-border-radius; 
      border-top: 0;
    }

    &:last-child a {
      border-bottom-left-radius: $base-border-radius; 
      border-bottom-right-radius: $base-border-radius; 
    }

    a {
      background-color: $tab-inactive-color;
      border-top: $tab-border;
      color: $dark-gray;
      display: block;
      font-weight: bold;
      padding: $base-line-height/2 $gutter/2;

      &:hover {
        color: $base-link-color;
      }

      &.is-active {
        background-color: $tab-active-color;
        border-bottom: 0;
      }
    }

    section {
      padding: $base-line-height $gutter;
      background: $tab-content-background;
      display: none;
      overflow: hidden;
    }
  }

  @include media($medium-screen) { // turns into tabs
    border: none;
    position: relative;

    li {
      display: inline;

      &:last-child a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      a {
        @include inline-block;
        border-top: 0;
        border-top-right-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;

        &.is-active {
          background-color: $tab-active-color;
          border: $tab-border;
          border-bottom: 1px solid $tab-active-color;
          margin-bottom: -1px;
        }
      }
    }

    section {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
      left: 0;
      padding: $base-line-height/2 $gutter/2;

      p {
        @include columns(2)
      }
    }
  }
}
    