.accordion-tabs {
  $medium-screen: em(640) !default;
  $tab-mode: $medium-screen;

  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link a {
    display: inline-block;
  }

  .is-active {
  }

  .tab-content {
    display: none;
    width: 100%;

    @include media($tab-mode) {
      float: left;
    }
  }
}
