.accordions {
  $accordion-border-color: $base-border-color;
  $accordion-border: 1px solid $accordion-border-color;
  $accordion-background: lighten($accordion-border-color, 10);
  $accordion-hover: lighten($accordion-background, 10);
  $accordion-sub-background: darken($accordion-background, 5);
  $accordion-sub-inset: darken($accordion-sub-background, 6);
  $accordion-sub-hover: darken($accordion-sub-background, 5);
  $accordion-list-padding: 0.5em;
  background-color: $accordion-background;
  border: $accordion-border;

  li {
    border-bottom: $accordion-border;
    padding-bottom: $accordion-list-padding;
    padding-top: $accordion-list-padding;

    a {
      margin-bottom: $accordion-list-padding;
      padding-left: $accordion-list-padding;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $accordion-hover;
    }
  }

  ul.submenu {
    display: none;
    margin-top: $accordion-list-padding;

    li {
      background-color: $accordion-sub-background;

      &:first-child {
        border-top: $accordion-border;
        box-shadow: inset 0 1px 1px $accordion-sub-inset;
      }

      &:hover {
        background-color: $accordion-sub-hover;
      }
    }
  }
  .expand {
    display: block;
    padding-bottom: 0;
  }
}
