.accordion {
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10);
  $accordion-menu-hover: lighten($accordion-menu-background, 10);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6);
  $accordion-menu-sub-hover: darken($accordion-menu-sub-background, 5);
  $accordion-menu-list-padding: $base-line-height/2 $gutter;
  
  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin-bottom: $base-line-height;

  li {
    border-bottom: $accordion-menu-border;

    > a {
      padding: $accordion-menu-list-padding;
      display: block;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  ul.submenu {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;

      &:first-child {
        border-top: $accordion-menu-border;
        box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
      }

      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}
