article.article-2 {
  $sans-serif: 'Noto Sans', sans-serif;
  $serif: 'Radley', serif;

  @include clearfix;
  text-align: left;

  .article-type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 2.6em;
    font-weight: 700;
    margin-bottom: .3em;
  }

  h2 {
    font-family: $serif;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .9em;
  }

  h3 {
    font-family: $serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.article-date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-style: italic;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    letter-spacing: 1;
    margin-bottom: 1.5em;
  }
  
  span {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
  }
}
