@mixin badge($color: #999) {
  background-color: $color;
  border-radius: 0.75em * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge {
  @include badge;
}

.badge-alert {
  @include badge($alert-color);
}

.badge-error {
  @include badge($error-color);
}

.badge-notice {
  @include badge($notice-color);
}

.badge-success {
  @include badge($success-color);
}
