.comment {
  // if you are using Bitters you can remove everything down to the commented line
  $base-border-radius: 3px;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $dark-gray: #333;
  $base-font-color: $dark-gray;
  -webkit-font-smoothing: antialiased;
  //////////////////////////////////////////////

  $comment-gutter: 1.4em;
  $comment-image-padding: .7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15);
  $comment-detail-color: transparentize($comment-color, .5);
  $comment-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($comment-color, .9);

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      width: $comment-image-width;
      height: auto;
      border-radius: $base-border-radius;
      padding: $comment-image-padding;
      background: $comment-background;
      display: block;
      max-width: none;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin: 0 0 .5em 0;
    }

    p {
      margin-bottom: .5em;
      line-height: 1.5em;
    }

    p.comment-detail {
      font-style: italic;
      font-size: .9em;
      color: $comment-detail-color;
    }
  }
}

