.dropdown {
  position: relative;
}

.dropdown-menu {
  @include position(absolute, 100% null null 0);
  background-color: $base-background-color;
  border: $base-border;
  margin-top: $small-spacing;
  min-width: 12em;

  &[aria-hidden="true"] {
    display: none;
  }
}

.dropdown-menu-item {
  padding: 0.5em;
}
