.example-wrapper {
  position: relative;
}

.example {
  @include position(absolute, 100% null null 0);
  background-color: $base-background-color;
  border: $base-border;
  display: none;
  margin-top: $small-spacing;
  min-width: 12em;

  &.is-open {
    display: block;
  }
}

.example-item {
  padding: 0.5em;
}
