.expander {  
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: $base-font-size;
  $expander-toggle-arrow-size: $expander-toggle-size;

  width: 60%;

  .expander-trigger {
    @include user-select(none);
    border-bottom: 1px solid $light-color;
    color: $action-color-dark;
    cursor: pointer;
    display: block;
    font-size: $base-font-size;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-decoration: none;

    &:before {
      font-size: $expander-arrow-width;
      content: "\25BC";
      margin-right: 0.5em;
    }
  }

  .expander-content p {
    color: $base-font-color-on-background;
    line-height: $base-line-height;
  }

  .expander-hidden {
    &:before {
      font-size: $expander-arrow-width;
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}
