.fade-in-element {
  @include clearfix;
  background: $base-box-background;
  border-radius: $base-border-radius;
  border: $base-border;
  box-shadow: $base-box-shadow;
  color: $base-font-color-on-box;
  line-height: $base-line-height;
  margin-bottom: 4em;
  line-height: $base-line-height;
  padding: $base-spacing;
  text-align: center;
  width: 100%;

  p {
    color: $base-font-color-on-background;
    line-height: $base-line-height;
  }
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}
