// if you are using bitters.io you can remove everything down to the commented line
$alert-color: #FFF6BF !default;
$error-color: #FBE3E4 !default;
$success-color: #E6EFC2 !default;
$notice-color: #E5EDF8 !default;
$base-spacing: 1.5em !default;
///////////////////////////////////////////////////////////////////////////////////

@mixin flash($color) {
  -webkit-font-smoothing: antialiased;
  background: $color;
  color: darken($color, 60);
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;

  a {
    border-bottom: 1px solid transparentize(darken($color, 70), .7);
    color: darken($color, 70);
    text-decoration: none;

    &:hover {
      color: darken($color, 90);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}
