.flex-boxes {
  $flex-box-color: $base-font-color-on-box;
  $flex-box-border: $base-border;
  $flex-box-background: $base-box-background;
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $base-border-color, $base-box-shadow;
    color: $flex-box-color;
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;

    img {
      display: block;
      height: 3em;
      margin: 0 auto 2em;
    }

    .flex-title {
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em;
    }

    p {
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }
}
