.flex-boxes {
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include align-self(stretch);
    @include flex-grow(2);
    @include flex-shrink(3);
    @include flex-basis(10em);
    background: silver;
    display: block;
    margin: $flex-box-gutter;
  }

  .flex-box-big {
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(40em);
  }
}
