.footer-2 {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height;
  width: 100%;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  } 

  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 1.6em;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
