// Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }

// html, body {
//  height: 100%;
// }

// .wrapper-for-content-outside-of-footer:after {
//   content: "";
//   display: block;
// }

// .footer-2, .wrapper-for-content-outside-of-footer:after {
//   height: 17em;

//   @include media($large-screen) {
//     height: 4em;
//   }
// }

.footer-2 {
  $footer-background: $base-box-color;
  $footer-color: $base-font-color-on-box;
  $footer-color-hover: transparentize($base-font-color-on-box, 0.5);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: $base-spacing;
    margin-bottom: $small-spacing;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  } 

  ul {
    line-height: 1.5em;
    margin: 0 0 $small-spacing 0;
    padding: 0;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: $small-spacing;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $footer-color-hover;
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: $small-spacing 0 0 0;

      @include media($large-screen) {
        float: right;
        margin: 0 0 0 $base-spacing;
      }

      li {
        font-size: $base-font-size;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
