$header-nav-background-color: $dark-gray;
$header-nav-color: white;
$nav-height: 60px;


header {
  width: 100%;
  margin: 0 0 $base-line-height;
  height: $nav-height;
  background-color: $header-nav-background-color;

  .logo {
    padding: 0 20px;
    font-weight: bold;
    float: left;
    line-height: $nav-height;
    color: white;
  }

  p {
    padding-right: 1em;
    display: block;
    float: right;
    margin: 0;
    line-height: $nav-height;
    color: white;
  }

  &:hover {
    .nav ul {
      display: block;
    }
  }

  .nav {
    ul {
      display: none;
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      li {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 1em;
        line-height: $nav-height;
        width: 100%;
        position: relative;
        display: block;
        z-index: 99999999;
        overflow: hidden;
        background-color: $header-nav-background-color;

        a {
          text-transform: uppercase;
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  @include media ($medium-screen) {
    p {
      display: none;
    }
    .nav {
      float: right;

      ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          display: inline;
          text-decoration: none;
          line-height: $nav-height;
          padding-right: 1em;
        }
      }
    }
  }
}