$hero-background-color: $light-gray;

.hero {
	background-color: $hero-background-color;
	padding-bottom: 4em;

	.hero-inner {
		@include clearfix;
		max-width: 1200px;
		padding: 1em;
		margin: auto;

		button {
			@include button(simple, $base-accent-color);
			font-size: $base-font-size;
			outline: none;
		}

		.hero-copy {

			h6 {
				margin-bottom: 2em;	
			}

			@include media($medium-screen) {
				@include span-columns(6);
			}
		}

		.hero-image {
			@include media($medium-screen) {
				@include span-columns(6);
			}
		}
	}
}