.hover-tile-outer {
  $hover-tile-height: 10em;

  background-position: bottom;
  background-size: cover;
  background: lighten($light-gray, 10);
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: gray;
    font-weight: 100;  
    padding-top: 3em;
    text-align: center;
  }

  .hover-tile-hidden {
    background: transparentize(black, .5);
  }
}