.hover-tile-outer {
  $hover-tile-height: 10em;
  $hover-tile-color: $base-font-color-on-box;

  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: $base-box-background;
  color: $hover-tile-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    h4 {
      margin: 0 0 0.5em 0;
    }
    
    p {
      line-height: $base-line-height;
    }
  }
}
