.bullets {
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  color: $base-font-color-on-background;
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $action-color-dark;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color-dark;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color-dark, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color-dark, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color-on-background, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
