@mixin texture($bg-color, $texture-number) {
  $texture-list: "line_diagonal1.png";
  background: url("https://raw.github.com/Magnus-G/texture-mixin/gh-pages/textures/#{nth($texture-list, $texture-number)}");
  background-color: $bg-color;
  // see http://magnus-g.github.io/texture-mixin/ for info on how to use this texture mixin
}

$image-card-border-color: $base-border-color;
$image-card-border: 1px solid $image-card-border-color;
$image-card-color: lighten($image-card-border-color, 10);
$image-card-header-color: $image-card-color;
$image-card-image-height: em(380);
$image-card-hover-color: darken($image-card-color, 5);

.image-cards {
  @include clearfix;
  cursor: pointer;
}

.image-card {
  border: $image-card-border;
  background-color: $image-card-color;
  border-radius: $base-border-radius;
  margin-bottom: $base-line-height;
  position: relative;
  height: $image-card-image-height;

  &:hover {
    background-color: $image-card-hover-color;

    .card-header {
      background-color: $image-card-hover-color;
    }
  }

  &:active {
    background-color: $image-card-color;

    .card-header {
      background-color: $image-card-color;
    }
  }

  @include media($medium-screen) {
    @include span-columns(4 of 12);
  }
}

.image-card.top {
  .image-wrapper {
    height: $image-card-image-height/3;
  }
}

.image-card.left {
  .image-wrapper {
    @include position(absolute, 0px auto 0px 0px);
    width: 5%;
  }

  .image-card-content {
    margin-left: 5%;
  }
}

.image-card.bottom {
  position: relative;
  padding-bottom: $image-card-image-height/2;

  .image-wrapper {
    @include position(absolute, auto 0px 0px 0px);
    height: $image-card-image-height /3;
  }
}

.image-wrapper {
  @include texture($light-gray, 1);
  // see http://magnus-g.github.io/texture-mixin/ for info on how to use this texture mixin
}

.image-card-content {
  padding: $base-line-height/2 $gutter/2 0;
}
