.info-section {
	$info-section-border-color: $base-border-color;
	$info-section-border: 1px solid $info-section-border-color;
	$info-section-color: lighten($info-section-border-color, 10);
	$info-section-img-background: $info-section-border-color;
	
	@include clearfix;
	background-color: $info-section-color;
	border-radius: $base-border-radius;
	border: $info-section-border;
	padding: 4em;

	@if lightness($info-section-color) < 50% {
		color: white;
	}

	img {
		content: '';
	}

	h3 {
		margin-bottom: 0.5em;
	}

	li {
		@include media($medium-screen) {
			@include span-columns(4);
			@include omega(3n);
		}
	}

	.img-wrapper {
	  display: block;
	  margin: 40px auto;
	  height: 200px;
	  width: 200px;
	  border-radius: 190px;
	  background-color: $info-section-img-background;

	  img {
	    padding: 30px;
	    height: 135px;
	    width: 135px;
	    display: block;
	    margin: auto;
	  }
	}
}

