.intro-text {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    text-decoration: none;
    color: $base-link-color;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $intro-text-width: 60%;

  margin-bottom: 5em;
  margin-top: 4em;
  padding: 1em;
  text-align: center;

  h3 {
    background: $base-accent-color;
    color: white;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0.6em;
    text-transform: uppercase;

    @include media($large-screen) {
      margin-bottom: 3.3em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.4em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }    
  }

  p {
    margin: auto;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-size: 0.8em;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }
  }
}
