$item-list-border-color: $base-border-color;
$item-list-border: 1px solid $item-list-border-color;

$item-list-background: lighten($item-list-border-color, 10);

ul.item-list {
  @include clearfix;
  $item-list-height: 5em;
  margin: 0 0 $base-line-height;
  
  li {
    margin-bottom: $base-line-height;

    .item-list-image {
      float: left;
      width: $item-list-height;
      height: $item-list-height;
      margin-right: 1em;
      border: $item-list-border;
      border-radius: $base-border-radius;
      background-color: $item-list-background;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}
