///////////////////////////////////////////////////////////////////////////////////
$alert-color: #FFF6BF !default;
$error-color: #FBE3E4 !default;
$success-color: #E6EFC2 !default;
$notice-color: #E5EDF8 !default;
$base-spacing: 1.5em !default;

label {
  font-weight: bold;
}
//////////////////////////////////////////////////////////////////////////////////

.label-alert {
  color: darken($alert-color, 45%);
}

.label-error {
  color: darken($error-color, 45%);
}

.label-notice {
  color: darken($notice-color, 45%);
}

.label-success {
  color: darken($success-color, 45%);
}
