.label-alert {
  color: darken($alert-color, 45);
}

.label-error {
  color: darken($error-color, 45);
}

.label-notice {
  color: darken($notice-color, 45);
}

.label-success {
  color: darken($success-color, 45);
}
