$modal-padding: 3em;
$modal-close-color: $light-gray;
$modal-image-height: 135px;
$modal-image-width: $modal-image-height;

.modal {
  label {
    cursor: pointer;

    img {
      $img-width: 300px;
      border-radius: $img-width/2;
      max-width: $img-width;
      margin: auto;
      display: block;
      margin-bottom: 2em;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

.modal-window {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
  z-index: 999;

  .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  .modal-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    margin: auto;
    overflow: auto;
    background: #fff;
    padding: $modal-padding;
    max-height: 70%;

    @include media($medium-screen) {
      width: 50%;  
    }

    .img-wrapper-modal {
      display: block;
      height: $modal-image-height;
      width: $modal-image-width;
      border-radius: 190px;
      background-color: $light-gray;

      img {
        padding: 30px;
        content: '';
        height: $modal-image-height;
        width: $modal-image-width;
        display: block;
      }
    }  

    h1 {
      text-align: left;
      color: $base-font-color;
      text-transform: capitalize;
      margin-bottom: .6em;
    }

    p {
      max-width: 100% !important;
      padding: 0;
    }

    p.intro {
      color: $blue;
      font-family: $sans-serif;
      line-height: 1.6em;
      margin-bottom: 1.7em;
      text-align: left;
      font-size: $base-font-size;
    }

    p.body { 
      color: $base-font-color;
      line-height: 1.45em;
      text-align: left;
      font-size: $base-font-size;
      @include media($medium-screen) {
        @include columns(2 8em);  
      }
    }
    a.cta {
      display: inline-block;
      margin-top: 1em;
      margin-right: .5em;
      color: #fff;
      
      &:last-child {
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }

  .modal-close {
    position: fixed;
    right: $modal-padding /2;
    top: $modal-padding /2;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;  

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 1.5em;
      background: $modal-close-color;
      display: block;
      @include transform(rotate(45deg));
      left: 50%;
      margin: -3px 0 0 -1px;
      top: 0;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }
}

.modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal-window .modal__inner {
  top: 0;
}


.btn {
  @include button(simple, $base-accent-color);
  font-size: $base-font-size;
}


p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

// Originally by Kasper Mikiewicz
