header.navigation {
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  margin-bottom: $base-line-height;
  width: 100%;
  z-index: 999;

  .menu-wrapper {
    @include outer-container;
    position: relative;
  }

  .logo {
    float: left;    
    max-height: $navigation-height;
    padding-left: 1em;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }

    @include media($medium-screen) {
      padding-left: 1em;
    }
  }

  p {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav ul {    
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;

    li {
      background: $navigation-background;
      display: block;
      line-height: $navigation-height;
      overflow: hidden;
      padding-right: .8em;
      text-align: right;
      width: 100%;
      z-index: 99999999;

      a {
        font-weight: 400;
        color: $navigation-color;

        &:hover {
          color: $navigation-color-hover;
        }
      }
    }
  }

  @include media ($large-screen) {
    p {
      display: none;
    }

    .nav {
      float: left;

      ul {
        display: inline;
        margin: 0;
        padding: 0;

        li {
          background: transparent;
          display: inline;
          line-height: $navigation-height;
          padding-right: 2em;
          text-decoration: none;
          width: auto;

          // CTA button
          &:last-child {
            @include position(absolute, 0px 0px 0 0);
            padding-right: 1em;

            a {
              @include transition (all 0.2s ease-in-out);
              background: $navigation-nav-button-background;
              border-radius: $base-border-radius; 
              color: white;
              font-size: .8em;  
              font-weight: 800;
              padding: .6em 1em;
              text-transform: uppercase;

              &:hover {
                background: lighten($navigation-nav-button-background, 10);
              }
            }
          }
        }
      }
    }
  }
}
