.pagination {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color-dark: #477DCA !default;
  $action-color-dark: $action-color-dark !default;
  $dark-color: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color-dark: $dark-color !default;
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color-dark;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
    
    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.2s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-color;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $action-color-dark;
      }

      &:active {
        background: $pagination-background;
      }
    }
  }
}
