.phone {
  $ratio: 1.6;
  $inset-shadow: inset 0 1px 4px transparentize(black, 0.8);
  $phone-padding: 0.4em * $ratio;
  $phone-screen-width: 8.5em * $ratio;
  $phone-screen-height: 15em * $ratio;
  $phone-background: #F8F8F8;

  background: $phone-background;
  border-radius: (1.2em * $ratio);
  padding: $phone-padding;
  box-shadow: 0 0 1px transparentize(black, 0.4), inset 0 3px 0 white;
  width: $phone-screen-width + (2 * $phone-padding);

  .phone-speaker {
    height: (0.3em * $ratio);
    width: $phone-screen-width * 0.2;
    background: #ABABAB;
    box-shadow: 0 2px 0 white, inset 0 0 1px transparentize(black, 0.6);
    border-radius: 1em;
    margin: (1em * $ratio) auto;    
  }

  .phone-screen {
    width: auto;
    height: $phone-screen-height;
    background: url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/cosmin_capitanu_screen.jpg');
    background-size: cover;
    border-radius: 0.2em;
    box-shadow: 0 3px 0 white, inset 0 0 1px transparentize(black, 0.6);
    margin: auto;
  }

  .phone-button {
    height: $phone-screen-width * 0.15;
    width: $phone-screen-width * 0.15;
    border: 2px solid transparentize(#404040, 0.9);
    border-radius: 50%;
    margin: (0.5em * $ratio) auto;
  }
}
