.progress-bar {
  $base-background-color: #fff !default;
  $base-accent-color: #477dca !default;
  $progress-background-color: darken($base-background-color, 5);
  $progress-height: 24px;
  $progress-status-color: $base-accent-color;
  $progress-width: 100%;
  $progress-border-radius: $progress-height;
  $progress-animation-duration: 0.7s;

  @mixin animated-progress {
    @include animation(progress $progress-animation-duration linear infinite);
    @include background-image(linear-gradient(-45deg, rgba(255,255,255, 0.15) 25%,
                                                      transparent 25%,
                                                      transparent 50%,
                                                      rgba(255,255,255, 0.15) 50%,
                                                      rgba(255,255,255, 0.15) 75%,
                                                      transparent 75%));
    background-color: $base-accent-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-radius: $progress-border-radius;
  }

  @include keyframes(progress) {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 40px 0;
    }
  }

  @include appearance(none);
  @include animated-progress;
  background-color: $progress-background-color;
  border: none;
  border-radius: $progress-border-radius;
  color: $progress-status-color;
  display: block;
  height: $progress-height;
  width: $progress-width;

  &::-webkit-progress-bar {
    background-color: $progress-background-color;
    border-radius: $progress-border-radius;
  }

  &::-webkit-progress-value {
    @include animated-progress;
    background-color: $progress-status-color;
    border-radius: $progress-border-radius;
  }

  &::-moz-progress-bar {
    @include animated-progress;
    background-color: $progress-status-color;
    border-radius: $progress-border-radius;
  }

  &::-ms-fill {
    @include animated-progress;
    background-color: $progress-status-color;
    border: none;
  }
}
