.progress-bar {
  $progress-border-color: $base-border-color;
  $progress-border: $base-outline;
  $progress-meter-border-color: $action-color-dark;
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: $base-background-inset;
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  box-shadow: $base-background-inset-shadow;
  border-radius: $base-border-radius;
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 100%;

  > span.meter {
    @include animation(progress $progress-animation-duration linear infinite);
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    @include background-image(linear-gradient(-45deg, rgba(255,255,255, 0.15) 25%,
                                                      transparent 25%,
                                                      transparent 50%,
                                                      rgba(255,255,255, 0.15) 50%,
                                                      rgba(255,255,255, 0.15) 75%,
                                                      transparent 75%));
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border-radius: $base-border-radius / 1.5;
    display: block;
    height: 100%;
    width: 60%;
  }
}

@-webkit-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}
