.progress-bar-with-status {
  $base-background-color: #fff !default;
  $base-accent-color: #477dca !default;
  $progress-background-color: darken($base-background-color, 5);
  $progress-height: 24px;
  $progress-status-color: $base-accent-color;
  $progress-width: 100%;
  $progress-border-radius: $progress-height;

  position: relative;

  .progress-bar-indication {
    @include appearance(none);
    background-color: $progress-background-color;
    border: none;
    border-radius: $progress-border-radius;
    color: $progress-status-color;
    display: block;
    height: $progress-height;
    width: $progress-width;

    &::-webkit-progress-bar {
      background-color: $progress-background-color;
      border-radius: $progress-border-radius;
    }

    &::-webkit-progress-value {
      background-color: $progress-status-color;
      border-radius: $progress-border-radius;
    }

    &::-moz-progress-bar {
      background-color: $progress-status-color;
      border-radius: $progress-border-radius;
    }

    &::-ms-fill {
      background-color: $progress-status-color;
      border: none;
    }
  }

  .progress-bar-status {
    @include position(absolute, 50% null null 1em);
    @include transform(translateY(-50%));
    color: #fff;
    font-weight: 800;
    margin-top: 1px;
  }
}
