.progress-bar-indication {  
  $progress-border: $base-border;
  $progress-background: $base-box-color;
  $progress-meter-border-color: $action-color-dark;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-animation-duration: 0.7s;
  $progress-color: $base-font-color-on-box;

  background-color: $progress-background;
  border-radius: $base-border-radius;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  width: 100%;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-top-left-radius: $base-border-radius /1.5;
    border-top-right-radius: $base-border-radius /1.5;
    border-top-right-radius: 0;
    border: $progress-meter-border;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-color;    
    font-weight: 800;
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}
