.progress-bar-indication {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  background-color: $progress-background;
  border-radius: $base-border-radius;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  width: 100%;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-radius: $base-border-radius /1.5;
    border-top-right-radius: 0;
    border: $progress-meter-border;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-color;    
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}
