.ribbon-box {
  @include size(100px);
  border: 1px solid #bbb;
  position: relative;
}

.ribbon-wrapper {
  $action-color: #477dca !default;
  $ribbon-background: $action-color;
  $ribbon-size: 85px;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    @include transform(rotate(45deg));
    background-color: $ribbon-background;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.8em;
    left: -5px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 15px;
    width: 120px;
  }
}
