.ribbon-box {
  @include size(100px);
  background: $base-box-background;
  border: $base-border;
  position: relative;
}

.ribbon-wrapper {
  $ribbon-background: $action-color-dark;
  $ribbon-size: 85px;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    @include transform(rotate(45deg));
    background-color: $ribbon-background;
    box-shadow: $base-box-shadow;
    color: #fff;
    font-size: 0.8em;
    font-weight: 800;
    left: -5px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 15px;
    width: 120px;
  }
}
