.scroll-on-page {
  color: $base-font-color-on-background;
  display: inline-block;

  a {
    color: $action-color-dark;
    text-decoration: none;
  }

  aside {
    @include media($large-screen) {
      @include span-columns(4);
    }
  }

  .scroll-on-page-link {
    border-bottom: $base-border;
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em; 
    }

    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}

// Based on code by http://codepen.io/xmark/
