.search-tools { 
  $search-tools-color: $base-font-color-on-box; 
  $search-tools-border: $base-border;
  $search-tools-background: $base-box-background;

  @include clearfix;
  color: $search-tools-color;
  background: $search-tools-background;
  border-radius: $base-border-radius;
  border: $search-tools-border;
  padding: $gutter / 2;

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $base-spacing / 4;
  }

  .filter {
    margin-bottom: 1em;

    @include media($large-screen) {
      @include span-columns(3.5);
      margin-bottom: 0;
    }

    > div {
      @include box-sizing(border-box);
      @include transition(border-color);
      background-color: white;
      border-radius: $base-border-radius;
      border: $base-border;
      font-size: 1em;
      margin-bottom: $base-spacing / 2;
      padding: ($base-spacing / 3) ($base-spacing / 3);
      position: relative;
      width: 100%;

      &:focus,
      &:hover {
        border-color: darken($base-border-color, 10%);
      }

      label {
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    ol {
      margin-top: 1em;

      label {
        display: inline;
      }
    }

    button {
      @include button(simple, lighten($search-tools-background, 10%));
      @include position(absolute, 5px 5px auto auto);
      font-size: 0.7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    width: 100%;

    @include media($large-screen) {
      @include span-columns(1.5);
    }

    button {
      @include button(flat, $action-color-dark);
      margin-top: 1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      width: 100%;

      @include media($large-screen) {
        margin-top: 1.55em;
      }
    }
  }
}
