.search-tools {  
  // if you are using Bitters you can remove everything down to the commented line
  $base-border-color: gainsboro;
  $base-border-radius: 3px;
  $base-line-height: 1.5em;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $base-link-color: $base-accent-color;
  $dark-gray: #333;
  $large-screen: em(860);
  $base-font-color: $dark-gray;
  -webkit-font-smoothing: antialiased;

  button {
    -webkit-font-smoothing: antialiased;
  }

  ol {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
    font-size: .8em;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: $base-spacing / 4;
  }

  //////////////////////////////////////////////

  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10);

  @include clearfix;
  border: 1px solid $search-tools-border-color;
  background: $search-tools-background;
  padding: $gutter / 2;
  border-radius: $base-border-radius;

  .filter {
    margin-bottom: 1em;

    @include media($large-screen) {
      @include span-columns(3.5);
      margin-bottom: 0;
    }

    > div {
      @include box-sizing(border-box);
      @include transition(border-color);
      background-color: white;
      border-radius: $base-border-radius;
      border: 1px solid $base-border-color;
      position: relative;
      font-size: 1em;
      margin-bottom: $base-spacing / 2;
      padding: ($base-spacing / 3) ($base-spacing / 3);
      width: 100%;

      &:hover {
        border-color: darken($base-border-color, 10);
      }

      &:focus {
        border-color: darken($base-border-color, 10);
        outline: none;
      }

      position: relative;

      label {
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    ol {
      margin-top: 1em;

      label {
        display: inline;
      }
    }

    button {
      @include button(simple, lighten($search-tools-background, 10));
      @include position(absolute, 5px 5px auto auto);
      font-size: .7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    width: 100%;

    @include media($large-screen) {
      @include span-columns(1.5);
    }

    button {
      @include button(flat, $base-accent-color);
      width: 100%;
      margin-top: 1em;
      padding-top: .5em;
      padding-bottom: .5em;

      @include media($large-screen) {
        margin-top: 1.55em;
      }
    }
  }
}
