.search-tools {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $clear-button-width: 4em;
  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10%);

  @include display(flex);
  @include justify-content(space-between);
  @include clearfix;
  background: $search-tools-background;
  border-radius: $base-border-radius;
  border: 1px solid $search-tools-border-color;
  padding: $gutter ($gutter / 2);
  width: 100%;

  li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $base-spacing / 4;
  }

  .filters {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100%;

    @include media($large-screen) {
      @include flex-direction(row);
    }
  }

  .filter {
    @include flex-shrink(1);
    @include flex-grow(1);
    margin: 0 0.2em 1em 0.2em;

    @include media($large-screen) {
      margin-bottom: 0;
    }

    > div {
      @include box-sizing(border-box);
      @include transition(border-color);
      background-color: white;
      border-radius: $base-border-radius;
      border: 1px solid $base-border-color;
      font-size: 1em;
      margin-bottom: $base-spacing / 2;
      padding: ($base-spacing / 3) $clear-button-width ($base-spacing / 3) ($base-spacing / 3);
      position: relative;
      width: 100%;

      &:focus,
      &:hover {
        border-color: darken($base-border-color, 10%);
      }

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    .filter-list {
      margin: 1em 0 0;
      padding: 0;

      label {
        display: inline;
      }
    }

    button.clear {
      @include position(absolute, 5px 5px auto auto);
      max-width: $clear-button-width;
      font-size: 0.7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    margin-top: 1.5em;
    
    button {
      display: block;
      width: 100%;
      padding: .5em 1em;
      text-align: center;
    }
  }
}
