form.search-bar {  
  $search-bar-border: $base-outline;
  $search-bar-background: $base-background-inset;

  position: relative;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background: $search-bar-background;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: $search-bar-border;
    box-shadow: $base-background-inset-shadow;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button[type=submit] {
    @include button(flat, $action-color-dark);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}
