.side-image {
  $side-image-background: #F9F9F9;
  $side-image-gradient-background-top: #B5EBEB;
  $side-image-gradient-background-bottom: #5DAC5D;
  $side-image-border: 1px solid darken(transparentize($side-image-gradient-background-bottom, .8), 30);

  background: $side-image-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-gradient-background-top, $side-image-gradient-background-bottom), no-repeat $side-image-gradient-background-top scroll);
    background-color: $side-image-gradient-background-top;
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: darken($side-image-background, 15);
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.5em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: gray;
    margin-bottom: 2em;
  }

  @include reset-display();
}
