.sliding-menu-content {  
  $sliding-menu-border-color: $base-font-color-on-box;
  $sliding-menu-background: $base-box-background;
  $sliding-menu-color: $base-font-color-on-box;
  $sliding-menu-border: $base-border;
  $sliding-menu-background-hover: $action-color-dark;
  $sliding-menu-color-hover: $base-font-color-on-box;
  $sliding-menu-background-focus: $base-font-color-on-box;

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-menu-background-focus;
    }

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-menu-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-menu-button {
  @include button(flat, $action-color-dark);
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;

  img {
    height: 1.3em;
  }
}

// Based on code by Diego Eis
