.stats {
  $stats-color: $action-color-dark;
  $stats-text-color: $base-font-color-on-background;

  padding: $base-spacing / 2;

  ul {
    @include clearfix;
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color-on-background, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $stats-text-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}
