.label-switch {
    $switch-container-width: 52px;
    $switch-height: 32px;
    $switch-radius: $switch-height / 2;
    $knob-radius: 28px;

    align-self: center;
    border-radius: $switch-radius;
    cursor: pointer;
    display: inline-block;
    height: $switch-height;
    position: relative;
    vertical-align: middle;
    width: $switch-container-width;
    @include box-sizing(border-box);

    input[type="checkbox"] {
        display: none;

        + .checkbox {
            background: #e5e5e5;
            border: none;
            border-radius: $switch-radius;
            cursor: pointer;
            height: $switch-height;
            margin: 0;
            padding: 0;
            position: relative;
            width: $switch-container-width;
            z-index: 0;
            @include box-sizing(border-box);
            @include transition(all 0.3s ease);

            &:before {
                background: #fff;
                border-radius: $switch-radius;
                content: ' ';
                height: $knob-radius;
                width: 48px;
                z-index: 1;
                @include box-sizing(border-box);
                @include position(absolute, 2px 0 0 2px);
                @include transition(all 0.3s ease);
                @include transform(scale(1));
            }

            &:after {
                background: #fff;
                border-radius: $knob-radius;
                content: ' ';
                height: $knob-radius;
                width: $knob-radius;
                z-index: 2;
                @include box-shadow(0 2px 5px rgba(0,0,0,0.4));
                @include position(absolute, 2px 0 0 2px);
                @include transition(all 0.3s ease);
            }
        }

        &:checked {

            + .checkbox {
                background: #4cd964;
                
                &:before {
                    @include transform(scale(0));
                }

                &:after {
                    left: 22px;
                }
            }
        }
    }
}
