$switch-toggle-width: 5em;
$switch-toggle-rounded-radius: $switch-toggle-width / 2;
$switch-toggle-rectangle-radius: $base-border-radius;

.switch-toggles {
  display: block;
}

.switch-toggle {
  @include user-select(none);
  @include inline-block;
  position: relative;
  width: $switch-toggle-width;
  margin-bottom: $base-line-height;

  input.switch-checkbox {
    display: none;

    &:checked + .switch-label .switch-inner {
      margin-left: 0;
    }

    &:checked + .switch-label .switch-toggle-switch {
      right: 0;
    }
  }

  label.switch-label {
    border-radius: $switch-toggle-rounded-radius;
    cursor: pointer;
    display: block;
    overflow: hidden;

    .switch-inner {
      @include transition(opacity 0.5s ease);
      border-radius: 3px;
      margin-left: -100%;
      width: 200%;

      &:before, &:after {
        @include box-sizing(border-box);
        float: left;
        height: 35px;
        padding: 0;
        width: 50%;
      }

      &:before {
        content: '';
        background: $blue;
      }

      &:after {
        content: '';
        background: #DDD;
      }
    }

    .switch-toggle-switch {
      @include size(24px);
      @include position(absolute, 0px ($switch-toggle-width / 1.8) 0px 0);
      @include transition(all 0.3s ease-in 0s);
      border-radius: 100%;
      margin: 6px;
      background: white;
      box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
    }
  }

  &.rectangle {
    label.switch-label {
      border-radius: $switch-toggle-rectangle-radius;

      .switch-toggle-switch {
        border-radius: $switch-toggle-rectangle-radius;
      }
    }
  }
}
