.label-switch {
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-border: #e5e5e5;
  $switch-inactive-background: white;
  $switch-active-background: teal;
  $switch-radius: $switch-height;
  $knob-height: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-height;
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-background: white;

  @include box-sizing(border-box);
  align-self: center;
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  vertical-align: middle;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

  + .checkbox {
    @include box-sizing(border-box);
    @include transition(all 0.3s ease);
    background: $switch-border;
    border-radius: $switch-radius;
    border: none;
    cursor: pointer;
    height: $switch-height;
    margin: 0;
    padding: 0;
    position: relative;
    width: $switch-width;
    z-index: 0;

    &:before {
      @include box-sizing(border-box);
      @include position(absolute, 2px 0 0 2px);
      @include transform(scale(1));
      @include transition(all 0.3s ease);
      background: $switch-inactive-background;
      border-radius: $switch-radius;
      content: ' ';
      height: $knob-radius;
      width: $switch-width - ($switch-padding * 2);
      z-index: 1;
    }

    &:after {
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
      background: $knob-background;
      border-radius: $knob-radius;
      box-shadow: 0 2px 5px rgba(0,0,0,0.4);
      content: ' ';
      height: $knob-height;
      width: $knob-width;
      z-index: 2;
    }
  }

  &:checked {
    + .checkbox {
      background: $switch-active-background;
        
        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}
