.tables {
  // if you are using Bitters you can remove everything down to the commented line
  $base-border-color: gainsboro;
  $base-border-radius: 3px;
  $base-background-color: white;
  $base-line-height: 1.5em;
  $base-spacing: 1.5em;
  $base-accent-color: #477DCA;
  $base-link-color: $base-accent-color;
  $dark-gray: #333;
  $light-gray: #DDD;
  $medium-screen: em(640);
  $large-screen: em(860);
  $base-font-color: $dark-gray;
  -webkit-font-smoothing: antialiased;

  width: 100%;

  th {
    text-align: left;
  }

  td {
    line-height: $base-line-height;
  }

  button {
    -webkit-font-smoothing: antialiased;
  }

  //////////////////////////////////////////////

  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12);
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 5);
  $table-stripe-background: darken($table-background, 2);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        @include button(flat, $base-accent-color);
        padding: 0 1em;
        font-size: .7em;
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }

        @include media($large-screen) {
          font-size: .8em;
        }
      }
    }
  }
}
