.table-minimal {
  $table-color: $base-font-color-on-background;
  $table-border-color: $base-outline-color;
  $table-border: $base-outline;
  $table-background: $base-background;
  $table-header-background: $base-background;
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  color: $table-color;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      padding: $table-padding;
      text-align: left;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-top: $table-border;
      line-height: $base-line-height;
      padding: $table-padding;

      button {
        @include button(flat, $action-color-dark);
        display: inline-block;
        font-size: .7em;
        line-height: $base-line-height;
        margin-bottom: .3em;
        margin-right: 0.5em;
        outline: none;
        padding: .3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}
