$tooltip-color: transparentize($dark-gray, 0.1);
$tooltip-placement: top; // "top" or "bottom"

@mixin tooltip($position) {
  position: relative;
  $opposite-position: bottom;

  @if ($position == top) {
    $opposite-position: bottom;
  }

  @else if ($position == bottom) {
    $opposite-position: top;
  }

  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  .tooltip {
    @include position(absolute, 0 0 0 50%);
    @include transition(all 0.15s linear);
    @include box-sizing(border-box);
    #{$position}: -55px;
    background-color: $tooltip-color;
    border-radius: $base-border-radius;
    color: white;
    font-weight: normal;
    margin-left: -(em(200)/2);
    opacity: 0;
    padding: 0.5em 1em;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 darken(rgb(80,80,80), 4%);
    text-transform: none;
    visibility: hidden;
    white-space: nowrap;
    width: em(200);
    z-index: 10;

    &:after {
      @include size(0);
      @include position(absolute, 0 0 0 em(200)/2);
      border: 8px solid transparent;
      border-#{$position}-color: $tooltip-color;
      content: '';
      pointer-events: none;
      #{$opposite-position}: -15px;
      $position: auto;
    }
  }
}

a.tooltip-item {
  @include button(simple, $base-border-color);
  @include tooltip($tooltip-placement);
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
  display: block;
  max-width: 13em;
  text-align: center;
}
