.tooltipped {
  position: relative;

  &::after {
    @include position(absolute, null null 100% 0);
    background-color: $base-background-color;
    border: $base-border;
    color: $base-font-color;
    content: attr(aria-label);
    display: none;
    font-size: modular-scale(-1);
    padding: 0.5em $small-spacing;
    pointer-events: none;
    white-space: nowrap;
  }

  &:hover::after,
  &:focus::after {
    display: inline-block;
  }
}
