article.type-system-geometric {
  $sans-serif: 'Questrial', sans-serif;
  $serif: 'Sanchez', serif;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 2.6em;
    font-weight: 700;
    margin-bottom: .5em;
  }

  h2 {
    font-family: $serif;
    font-style: italic;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .9em;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em;
  }
  
  span {
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }
}
