$dark-gray: #333 !default;
$light-gray: #ddd !default;
$base-font-color: $dark-gray !default;
$base-link-color: #477dca !default;
$sans-serif: "Quattrocento Sans", $helvetica !default;
$serif: "Lora" !default;
$modular-scale-ratio: $major-third !default;
$base-line-height: 1.6 !default;
$heading-line-height: 1.1 !default;
$base-spacing: $base-line-height * 1.4em !default;

.type-system-serif {
  color: $base-font-color;
  font-family: $serif;
  line-height: $base-line-height;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $heading-line-height;
    margin: ($base-spacing / 1.5) 0 ($base-spacing / 3);
  }

  h1 {
    font-size: modular-scale(4);
  }

  h2 {
    font-size: modular-scale(2);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: modular-scale(1);
  }

  p {
    margin: 0 0 ($base-spacing / 1.5);
  }

  a {
    color: $base-link-color;
    transition: color 0.1s ease-in-out;

    &:active,
    &:focus,
    &:hover {
      color: $base-font-color;
    }
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: ($base-spacing * 2) auto;
    max-width: $base-spacing * 8;
  }

  .article-title {
    text-align: center;
  }

  .article-intro {
    font-size: modular-scale(1);
    font-style: italic;
    line-height: $base-line-height * 0.9;
    margin-top: $base-spacing;
  }

  .article-meta-info {
    color: tint($base-font-color, 25%);
    font-family: $sans-serif;
    font-size: modular-scale(0);
    text-align: center;
  }

  .article-date::after {
    @include padding(null 0.25em null 0.5em);
    color: tint($base-font-color, 50%);
    content: "•";
  }
}
