$tab-border-color: $base-border-color;
$tab-border: 1px solid $tab-border-color;
$tab-border-radius: $base-border-radius;
$tab-content-background: lighten($tab-border-color, 10);
$tab-active-color: $tab-content-background;
$tab-inactive-color: $base-body-color;
$vertical-tabs-height: em(300);

.vertical-tabs-container { // small screens: accordion
  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;
}

.vertical-tabs {
  display: none;

  @include media($medium-screen) {
    background-color: $tab-inactive-color;
    display: inline;
    float: left;
    height: $vertical-tabs-height;
    width: 20%;
  }
}

.vertical-tab {
  @include media($medium-screen) {
    border-bottom: $tab-border;
    display: block;
    font-weight: bold;
    margin-right: -1px;
    padding: $base-line-height/2 $gutter/2;

    &.is-active {
      background-color: $tab-content-background;
      margin-right: -1px;
    }
  }
}

.vertical-tab-content-container {
  display: block;
  margin: 0 auto;

  @include media($medium-screen) {
    @include inline-block;
    @include size(80% $vertical-tabs-height);
    background-color: $tab-content-background;
  }
}

.vertical-tab-content {
  background-color: $tab-content-background;
  padding: 1em;

  @include media($medium-screen) {
    border: none;
    display: none;
  }
}

.vertical-tab-accordion-heading {
  background-color: $tab-inactive-color;
  border-top: $tab-border;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: $base-line-height/2 $gutter/2;

  @include media($medium-screen) {
    display: none;
  }

  &:hover {
    color: $base-accent-color;
  }

  &:first-child {
    border-top: none;
  }

  &.is-active {
    background: $tab-active-color;
    border-bottom: none;
  }
}

// Based on code by Jett Miller jettmiller.net
