%ul.accordion
  %li
    %a.js-accordion-trigger{:href => "javascript:void(0)"} Accordion Item
    %ul.submenu
      %li
        %a{:href => "javascript:void(0)"} Sub Item 1
      %li
        %a{:href => "javascript:void(0)"} Sub Item 2
  %li
    %a.js-accordion-trigger{:href => "javascript:void(0)"} Another Item
    %ul.submenu
      %li
        %a{:href => "javascript:void(0)"} Sub Item 1
      %li
        %a{:href => "javascript:void(0)"} Sub Item 2
