%ul.accordion-tabs
  %li.tab-header-and-content
    %a.is-active.tab-link{:href => "javascript:void(0)"} Tab Item
    .tab-content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem.Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.
  %li.tab-header-and-content
    %a.tab-link{:href => "javascript:void(0)"} Another Tab
    .tab-content
      %p Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate.
  %li.tab-header-and-content
    %a.tab-link{:href => "javascript:void(0)"} Third
    .tab-content
      %p Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.
  %li.tab-header-and-content
    %a.tab-link{:href => "javascript:void(0)"} Last Item
    .tab-content
      %p Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.
