.button-group
  %label
    %input{:checked => "checked", :name => "button-group", :type => "radio", :value => "item"}/
    %span.button-group-item Item
  %label
    %input{:name => "button-group", :type => "radio", :value => "other-item"}/
    %span.button-group-item Other But Longer Item
  %label
    %input{:name => "button-group", :type => "radio", :value => "other-item"}/
    %span.button-group-item Third
  %label
    %input{:name => "button-group", :type => "radio", :value => "third"}/
    %span.button-group-item Last Item
