.dropdown
  .dropdown-container
    %p.dropdown-description Description
    %p.dropdown-button Click to Select
    %ul.dropdown-menu.dropdown-select
      %li Dropdown Menu Item
      %li Another Item
      %li Item Three
      %li The Last One
