<li class="nav-link hover-menu">
  <a href="javascript:void(0)">More</a>
  <ul class="submenu">
    <li class="hover-menu">
      <a href="javascript:void(0)" class="hover-menu-item">Item with submenu</a>
      <ul class="submenu">
        <li><a href="javascript:void(0)">Submenu Item</a></li>
        <li><a href="javascript:void(0)">Another Item</a></li>
      </ul>
    </li>
  </ul>
</li>
