%li.nav-link.hover-menu
  %a{:href => "javascript:void(0)"} More
  %ul.submenu
    %li.hover-menu
      %a.hover-menu-item{:href => "javascript:void(0)"} Item with submenu
      %ul.submenu
        %li
          %a{:href => "javascript:void(0)"} Submenu Item
        %li
          %a{:href => "javascript:void(0)"} Another Item
