<div class="login">
  <div class="login-logo"><a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo Image"></a></div>
  <label for="">Email</label>
  <input type="text">
  <label for="">Password</label>
  <a href="" class="forgot-password">Forgot password?</a>
  <input type="text">
  <button type="submit" class="login-button">Log In</button>
  <label class="remember-me">
    <input type="checkbox">
    Remember me
  </label>
</div>
