.modal
  %label{:for => "modal-1"}
    .modal-trigger Click for Modal
  %input#modal-1.modal-state{:type => "checkbox"}/
  .modal-fade-screen
    .modal-inner
      .modal-close{:for => "modal-1"} Close
      .modal-content Modal Content
