%body
  %header.navigation{:role => "banner"}
    .navigation-wrapper
      %a.logo{:href => "javascript:void(0)"}
        %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
      %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} Menu
      %nav{:role => "navigation"}
        %ul#js-navigation-menu.navigation-menu.show
          %li.nav-link
            %a{:href => "javascript:void(0)"} About Us
          %li.nav-link
            %a{:href => "javascript:void(0)"} Contact
          %li.nav-link
            %a{:href => "javascript:void(0)"} Testimonials
          %li.nav-link
            %a{:href => "javascript:void(0)"} Sign up
