<button type="button" class="sliding-panel-button">
  Click for Sliding Panel
</button>

<nav class="sliding-panel-content">
  <div class="sliding-panel-close">Close Panel</div>
</nav>

<div class="sliding-panel-fade-screen"></div>
