  <ul class="accordion-menus"> 
    <li class="expanded">
      <a href="#" class="nolink">Item 1</a>
      <ul class="submenu">
        <li>
          <a href="">Sub Item 1</a>
        </li>
        <li>
          <a href="">Sub Item 2</a>
        </li>
      </ul>
    </li>
    <li class="expanded">
      <a href="#" class="nolink">Item 2</a>
      <ul class="submenu">
        <li>
          <a href="">Sub Item 1</a>
        </li>
        <li>
          <a href="">Sub Item 2</a>
        </li>
      </ul>
    </li>
  </ul>


<script>
  jQuery('.expanded').find('.nolink') // find the .nolink inside .expanded
    .bind('click focus', function(){
      jQuery(this).parent().find('ul').slideToggle('fast');  // apply the toggle to the ul
      jQuery(this).parent().toggleClass('expand'); 
      event.preventDefault()
  });
</script>
