<ul class="accordion">
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">A Sub Item</a>
      </li>
      <li>
        <a href="javascript:void(0)">Another Item</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Second Accordion Item</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Sub Item Again</a>
      </li>
      <li>
        <a href="javascript:void(0)">Last Sub Item</a>
      </li>
    </ul>
  </li>
</ul>
