<ul class="accordion-menus">
  <li>
    <a href="#" class="js-accordion-trigger">Item 1</a>
    <ul class="submenu">
      <li>
        <a href="">Sub Item 1</a>
      </li>
      <li>
        <a href="">Sub Item 2</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="js-accordion-trigger">Item 2</a>
    <ul class="submenu">
      <li>
        <a href="">Sub Item 1</a>
      </li>
      <li>
        <a href="">Sub Item 2</a>
      </li>
    </ul>
  </li>
</ul>

<script>
  jQuery('.js-accordion-trigger') // find the trigger
    .bind('click focus', function(){
      jQuery(this).parent().find('ul').slideToggle('fast');  // apply the toggle to the ul
      jQuery(this).parent().toggleClass('is-expanded');
      event.preventDefault();
  });
</script>
