<div class="animate-info">
  This component is based on Dan Eden’s Animate.css. It sets up the JavaScript for triggering an animation for another element. 
  Check out the <a href="http://daneden.github.io/animate.css/">Animate.css website</a> to view the animations in action and the <a href="https://github.com/daneden/animate.css/blob/master/animate.css">GitHub page</a> for the CSS.
</div>
