<head>
  <link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'>
</head>

<div class="article-2">
  <article>
    <p class="article-type">Article Type</p>
    <h1>Article Heading</h1>
    <h4>Vollkorn lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, eligendi, dolor voluptatum beatae ad vitae obcaecati officiis quod velit.</h4>
    <p class="article-date">30 Mar 2014</p>
    <p class="article-p"><span>Open Sans ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus!</p>
    <hr>
    <p class="author">Author Name</p>
  </article>
</div>