<head>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
</head>

<div class="article-view">
  <article>
    <p class="article-type">Lorem Ipsum</p>
    <h1>Lorem Ipsum</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, eligendi, dolor voluptatum beatae ad vitae obcaecati officiis quod velit.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus!</p>
  </article>
  <aside></aside>
</div>