%body
  %header.centered-navigation{:role => "banner"}
    .centered-navigation-wrapper
      %a.mobile-logo{:href => "javascript:void(0)"}
        %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
      %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"} MENU
      %nav{:role => "navigation"}
        %ul#js-centered-navigation-menu.centered-navigation-menu.show
          %li.nav-link
            %a{:href => "javascript:void(0)"} Products
          %li.nav-link
            %a{:href => "javascript:void(0)"} About Us
          %li.nav-link
            %a{:href => "javascript:void(0)"} Contact
          %li.nav-link.logo
            %a.logo{:href => "javascript:void(0)"}
              %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
          %li.nav-link
            %a{:href => "javascript:void(0)"} Testimonials
          %li.nav-link.more
            %a{:href => "javascript:void(0)"} More
            %ul.submenu
              %li
                %a{:href => "javascript:void(0)"} Submenu Item
              %li
                %a{:href => "javascript:void(0)"} Another Item
              %li.more
                %a{:href => "javascript:void(0)"} Item with submenu
                %ul.submenu
                  %li
                    %a{:href => "javascript:void(0)"} Sub-submenu Item
                  %li
                    %a{:href => "javascript:void(0)"} Another Item
              %li.more
                %a{:href => "javascript:void(0)"} Another submenu
                %ul.submenu
                  %li
                    %a{:href => "javascript:void(0)"} Sub-submenu
                  %li
                    %a{:href => "javascript:void(0)"} An Item
          %li.nav-link
            %a{:href => "javascript:void(0)"} Sign up
