<div class="container">
  <button aria-controls="<%= name %>-snippets"
          aria-expanded="false"
          class="snippets-toggle-button"
          data-toggle-snippets
          id="toggle-<%= name %>-snippets">
    Show Code
  </button>
</div>

<div class="snippets"
     id="<%= name %>-snippets">
  <%= snippets %>
</div>
