<div class="refill-control">
  <a href="#" class="js-show-code">Show Code</a>
  <a href="#" class="js-hide-code">Hide Code</a>
</div>

<div class="snippets">
  <a class="copy-source copy-variables" href="javascript:void(0)">
    Copy Gobal Variables (Required)
  </a>
  <table class="snippets-table">
    <tr>
      <%= snippets %>
      <%= variables %>
    </tr>
  </table>
</div>
