<div class="refill-control">
  <a href="#" class="js-show-code">Show Code</a>
  <a href="#" class="js-hide-code">Hide Code</a>
</div>

<table class="snippets-table">
  <tr>
    <%= snippets %>
  </tr>
</table>
