<div class="dashboard">
	<div class="dashboard-item">
		<h1>97<span>%</span></h1>
		<p>Lorem sit amet</p>
	</div>
	<div class="dashboard-item">
		<h1><span>$</span>3,234</h1>
		<p>Lorem dolor sit amet</p>
	</div>
	<div class="dashboard-item">
		<h1>97<span>%</span></h1>
		<p>Lorem ipsum dolor sit amet</p>
	</div>
	<div class="dashboard-item">
		<h1>97<span>%</span></h1>
		<p>Lorem ipsum dolor sit</p>
	</div>
</div>