.device-background
  .device-text
    %h4 Text about App or Device
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.
  .device
    .screen
