<section class="dropdown">
  <div class="js-dropdown-link dropdown-link">Dropdown</div>
  <div class="js-dropdown-menu dropdown-menu">
    <ul>
      <li>
      <a href="#">Lettuce</a>
      </li>
      <li>
      <a href="#">Tomato</a>
      </li>
      <li>
      <a href="#">Onion</a>
      </li>
    </ul>
  </div>
</section>
