<div class="flex-boxes">
  <div class="flex-box flex-box-big">
    <p>Lorem.</p>
  </div>
  <div class="flex-box">
    <p>Lorem.</p>
  </div>
  <div class="flex-box">
    <p>Lorem</p>
  </div>
  <div class="flex-box flex-box-big">
    <p>Loremis sapiente.</p>
  </div>
  <div class="flex-box">
    <p>Loreo.</p>
  </div>
  <div class="flex-box">
    <p>Loremlum.</p>
  </div>
</div>
