.flex-boxes
  %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1.flex-title A Wide Flex Box Item
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
    %h1.flex-title Flex Box Item
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1.flex-title A Flex Box Item
    %p Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?
  %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1.flex-title Another Wide Item
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quis ipsum, officia, aperiam tenetur dolor molestiae voluptate perferendis dolorem vel ex, unde fugit blanditiis sapiente.
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1.flex-title Flex Box Item
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1.flex-title Last Flex Box Item
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.
