<div class="footer">
	<div class="footer-inner">
		<div class="footer-links">
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Products</a></li>
				<li><a href="">Login</a></li>
			</ul>
			<ul>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">YouTube</a></li>
				<li><a href="">Vimeo</a></li>
			</ul>
			<ul>
				<li><a href="">Terms and Conditions</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li>
					<a href="">&#10081;</a>
				</li>
			</ul>
		</div>

		<hr>

		<p>Refills is Copyright © 2013 thoughtbot. It is free software, and may be redistributed under the terms specified in the LICENSE file.</p>
	</div>
</div>