%footer.footer{:role => "contentinfo"}
  .footer-logo
    %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        %a{:href => "javascript:void(0)"} About
      %li
        %a{:href => "javascript:void(0)"} Contact
      %li
        %a{:href => "javascript:void(0)"} Products
    %ul
      %li
        %h3 Follow Us
      %li
        %a{:href => "javascript:void(0)"} Facebook
      %li
        %a{:href => "javascript:void(0)"} Twitter
      %li
        %a{:href => "javascript:void(0)"} YouTube
    %ul
      %li
        %h3 Legal
      %li
        %a{:href => "javascript:void(0)"} Terms and Conditions
      %li
        %a{:href => "javascript:void(0)"} Privacy Policy
  %hr/
  %p Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.
