<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>

    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Products</a></li>
      <li class="footer-secondary-link"><a href="">Terms and Conditions</a></li>
      <li class="footer-secondary-link"><a href="">Privacy Policy</a></li>
    </ul>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
</footer>
