.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\n"}/
    .hero-copy
      %h1 Short description of Product
      %p A few reasons why this product is worth using, who it's for and why they need it.
