<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Lorem ipsum dolor sit amet</h1>
			<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, et, eos deleniti molestias officiis sequi praesentium placeat omnis </h6>	
			<button>Call to Action</button>
		</div>
		<div class="hero-image">
		</div>
	</div>
</div>