<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
		<div class="hero-copy">
			<h1>Short description of Product</h1>
			<p>A few reasons why this product is worth using, who is it for and why do they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>