<div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible">
      <h2>Hover Here</h2>
    </div>
    <div class="hover-tile hover-tile-hidden">
      <h4>This Appears On Top</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, placeat, doloremque, sint esse quaerat at dolorem assumenda consequatur eligendi.</p>
    </div>
  </div>
</div>