<div class="bullets">
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>  
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
</div>

<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>  
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="https://raw.github.com/Magnus-G/Random/master/181912_300.jpg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div> 
</div>