<div class="bullets">
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://pbs.twimg.com/profile_images/411758450700349440/fldsxTBx.jpeg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>  
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="https://static.greatbigcanvas.com/images/square/national-geographic/mountains-of-baffin-island-are-reflected-in-fjords-northwest-territories-canada,ng525960.jpg?max=128" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="http://assets.njspotlight.com/assets/12/0409/2246.256" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet two-col-bullet">
    <div class="wraptocenter">
      <img src="http://faykelley.com/_Media/mountains_flowers_oils_128.jpeg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
</div>

<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="https://pbs.twimg.com/profile_images/411758450700349440/fldsxTBx.jpeg" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>  
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="https://static.greatbigcanvas.com/images/square/national-geographic/mountains-of-baffin-island-are-reflected-in-fjords-northwest-territories-canada,ng525960.jpg?max=128" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="wraptocenter">
      <img src="http://assets.njspotlight.com/assets/12/0409/2246.256" />
    </div>
    <div class="bullet-content">
    <p><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem repellat.</p>
    </div>
  </div> 
</div>