<div class="image-gradient-dynamic">
  <img src="http://organicclimber.com/wp-content/uploads/2012/06/EmeraldLake.jpg" alt="">
  <div class="copy">
    <p>Dynamic height container</p>
  </div>
  <div class="overlay"></div>
</div>
