<div class="image-gradient-dynamic">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <p>Dynamic height container</p>
  </div>
</div>
