<div class="item-grid">
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
  <a href="" class="item-grid-item">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  </a>
</div>