<label class="label-success">This is a success label</label>
<label class="label-error">This is an error label</label>
<label class="label-notice">This is an notice label</label>
<label class="label-alert">This is an alert label</label>

