<ul class="logo-section">
  <li><img class="wide-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_wide.png" alt=""></li>
  <li><img class="square-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt=""></li>
  <li><img class="square-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt=""></li>
  <li><img class="wider-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_wider.png" alt=""></li>
  <li><img class="square-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt=""></li>
  <li><img class="wide-logo" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_wide.png" alt=""></li>
</ul>
