<div class="master-detail">
	<div class="master">
		<ul>
			<li>
				<h5>Master item 1</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, officiis, tempora hic quasi excepturi architecto voluptatibus repellendus dolore cumque ipsum fugit minima eaque doloremque facere corrupti beatae deserunt velit est!</p>
			</li>
			<li>
				<h5>Master item 2</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo ea officia dignissimos quo vero iure! Quasi, mollitia, esse placeat distinctio asperiores aspernatur quibusdam quas tempore illo debitis quis perferendis!</p>
			</li>
			<li>
				<h5>Master item 3</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat porro quis numquam quod. Animi, quam, ducimus, nostrum, consectetur soluta a nulla in earum modi tempora iure temporibus perferendis dignissimos rem.</p>
			</li>
			<li>
				<h5>Master item 4</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, laboriosam, minus, accusantium excepturi vero quisquam possimus assumenda corrupti aliquid dignissimos est dolor dicta nihil quia dolorum sed reprehenderit rerum quo.</p>
			</li>
			<li>
				<h5>Master item 5</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, natus, consequatur odit suscipit tempore repellat voluptas labore fugit ipsam dolores iusto praesentium dignissimos sunt doloribus incidunt deleniti adipisci pariatur eos.</p>
			</li>
			<li>
				<h5>Master item 6</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, aperiam recusandae magnam sunt vitae eligendi magni unde repudiandae ab voluptate labore tempore iure pariatur numquam soluta rem temporibus explicabo vel.</p>
			</li>
		</ul>	
	</div>
	<div class="detail">
		<h3>Master item 10</h3>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, laudantium corporis dolorum natus architecto nisi praesentium accusantium dignissimos dolor totam voluptatum molestias nostrum autem soluta delectus alias quisquam ullam recusandae.</p>
	</div>
</div>