<nav id="menu">
  <ul>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#navigation">Navigation</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#hover-tile-animation">Hover Tile Animation</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#sliding-menu">Sliding Menu</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#badges">Badges</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#cards">Cards</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#image-cards">Image Cards</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#vertical-tabs">Vertical Tabs</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#accordion-tabs">Accordion Tabs</a>
    </li>
    <!--
      <li>
        <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#overlap">Overlap</a>
      </li>
    -->
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#modal">Modal</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#progress-bar">Progress Bar</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#tooltip">Tooltip</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#accordion">Accordion</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#dropdown-menu">Dropdown Menu</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#switch-toggle">Switch Toggle</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#search-bar">Search Bar</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#tables">Tables</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#button-group">Button Group</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#image-gradient">Image Gradient Overlay</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#item-list">Item List</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#master-detail">Master Detail</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#sidebar-layout">Sidebar Layout</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#info-section">Info Section</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#hero">Hero</a>
    </li>
    <li>
      <a class="scroll" data-speed="500" data-easing="easeInOutCubic" href="#footer">Footer</a>
    </li>
  </ul>
</nav>
