<div class="modal">
	<label class="btn" for="modal-1">Click for Modal</label>
	<input class="modal-state" id="modal-1" type="checkbox" />

	<div class="modal-window">
	  <label class="modal__bg" for="modal-1"></label>
	  <div class="modal__inner">
	    <label class="modal-close" for="modal-1"></label>
	    <h2>Lorem</h2> 
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nemo, consectetur pariatur quae voluptate dolorem quas. Numquam, debitis commodi quam quas consectetur est obcaecati sint itaque. Id, architecto autem fugit?</p>
	  </div>
	</div>
</div>
