<header class="navigation">
  <div class="menu-wrapper">
  	<div class="logo">Logo</div>
    <p>Menu</p>
    <div class="nav">
      <ul>
        <li><a href="">One</a></li>
        <li><a href="">Two</a></li>
        <li><a href="">Three</a></li>
        <li><a href="">Four</a></li>
      </ul>
    </div>
  </div>
</header>