<div class="refills-wrapper">
  <div class="refills-notice">
    <span>
      Refills requires Bourbon 5.0+ and Neat < 2.0, &ge; 1.6. We're working on
      another version with a focus on accessibility, which you can preview
      <a href="http://refills.netlify.com">here</a>.
    </span>
  </div>
</div>
