.pagination
  %ul
    %li.page-prev
      %a{:href => "javascript:void(0)"} Prev
    %li
      %ul
        %li
          %a{:href => "javascript:void(0)"} 1
        %li
          %a{:href => "javascript:void(0)"} 2
        %li
          %a{:href => "javascript:void(0)"} 3
        %li
          %a{:href => "javascript:void(0)"} 4
        %li
          %a{:href => "javascript:void(0)"} 5
        %li
          %a{:href => "javascript:void(0)"} 6
        %li
          %a{:href => "javascript:void(0)"} 7
    %li.page-next
      %a{:href => "javascript:void(0)"} Next
