%form.search-bar{:role => "search"}
  %input{:placeholder => "Enter Search", :type => "search"}/
  %button{:type => "submit"}
    %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}/
