<div class="search-tools">
  <div class="filter">
    <label>Colors</label>
    <div>
      <ol>
        <li>
          <input id="red" type="checkbox">
          <label for="red">Red</label>
        </li>
        <li>
          <input id="green" type="checkbox">
          <label for="green">Green</label>
        </li>
        <li>
          <input id="blue" type="checkbox">
          <label for="blue">Blue</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="filter">
    <label>Sizes</label>
    <div>
      <ol>
        <li>
          <input id="small" type="checkbox">
          <label for="small">Small</label>
        </li>
        <li>
          <input id="medium" type="checkbox">
          <label for="medium">Medium</label>
        </li>
        <li>
          <input id="large" type="checkbox">
          <label for="large">Large</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="filter">
    <label>Lengths</label>
    <div>
      <ol>
        <li>
          <input id="short" type="checkbox">
          <label for="short">Short</label>
        </li>
        <li>
          <input id="long" type="checkbox">
          <label for="long">Long</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="trigger">
    <button>Update</button>
  </div>
</div>
