<div class="search-bar">
  <div class="search-item">
    <div class="search-and-submit">
      <input type="search" placeholder="Enter Search" />
      <input type="submit" value="Search">
    </div>
  </div>
</div>
