.search-tools
  .filters
    .filter
      %label Colors
      %div
        %ol
          %li
            %input#red{:type => "checkbox"}/
            %label{:for => "red"} Red
          %li
            %input#green{:type => "checkbox"}/
            %label{:for => "green"} Green
          %li
            %input#blue{:type => "checkbox"}/
            %label{:for => "blue"} Blue
    .filter
      %label Sizes
      %div
        %ol
          %li
            %input#small{:type => "checkbox"}/
            %label{:for => "small"} Small
          %li
            %input#medium{:type => "checkbox"}/
            %label{:for => "medium"} Medium
          %li
            %input#large{:type => "checkbox"}/
            %label{:for => "large"} Large
    .filter
      %label Lengths
      %div
        %ol
          %li
            %input#short{:type => "checkbox"}/
            %label{:for => "short"} Short
          %li
            %input#long{:type => "checkbox"}/
            %label{:for => "long"} Long
    .filter.trigger
      %button Update
