  <div class="search-bar">
    <div class="search-and-submit">
      <input type="search" placeholder="Enter Search" />
      <button type="submit">
        <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon-black.png" alt="">
      </button>
    </div>
  </div>
