<div class="sidebar-layout">
	<aside>
		<ul>
			<li>Sidebar Item 1</li>
			<li>Sidebar Item 2</li>
			<li>Sidebar Item 3</li>
			<li>Sidebar Item 4</li>
			<li>Sidebar Item 5</li>
			<li>Sidebar Item 1</li>
			<li>Sidebar Item 2</li>
			<li>Sidebar Item 2</li>
		</ul>
	</aside>
	<div class="content">
		<section>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, autem, ipsam, suscipit, eligendi exercitationem nulla tenetur voluptates quos earum itaque tempore a mollitia optio nemo error quisquam reiciendis distinctio amet.
		</section>
		<section>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, autem, ipsam, suscipit, eligendi exercitationem nulla tenetur voluptates quos earum itaque tempore a mollitia optio nemo error quisquam reiciendis distinctio amet.
		</section>
		<section>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, autem, ipsam, suscipit, eligendi exercitationem nulla tenetur voluptates quos earum itaque tempore a mollitia optio nemo error quisquam reiciendis distinctio amet.
		</section>
		<section>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, autem, ipsam, suscipit, eligendi exercitationem nulla tenetur voluptates quos earum itaque tempore a mollitia optio nemo error quisquam reiciendis distinctio amet.
		</section>
	</div>
</div>