%button.js-menu-trigger.sliding-panel-button{:type => "button"}
  Click for Sliding Panel
%nav.js-menu.sliding-panel-content
  %ul
    %li
      %a{:href => "javascript:void(0)"} Item 1
    %li
      %a{:href => "javascript:void(0)"} Item 2
    %li
      %a{:href => "javascript:void(0)"} Item 3
.js-menu-screen.sliding-panel-fade-screen
