<div class="refill-control">
  <a href="#" class="js-show-code">Show Code</a>
  <a href="#" class="js-hide-code">Hide Code</a>
</div>

<%= snippet snippet_name, :markup %>
<%= snippet snippet_name, :javascript %>
<%= snippet snippet_name, :scss %>
