<td class="snippet">
  <div class="copy-source-container">
    <% if language == :javascript -%>
      <a href="javascript:void(0)" class="copy-source">Copy JavaScript</a>
      <a href="javascript:void(0)" class="copy-source copy-coffee">Copy CoffeeScript</a>
    <% elsif language == :markup -%>
      <a href="javascript:void(0)" class="copy-source">Copy HTML</a>
    <% else -%>
      <a href="javascript:void(0)" class="copy-source">Copy Scss</a>
    <% end -%>
  </div>
  <pre><code class="language-<%= language %>"><%== snippet %></code></pre>
</td>
