<div class="switch-toggle">
  <input type="checkbox" id="switch-toggle-1" name="switch-toggle" class="switch-checkbox" checked/>
  <label class="switch-label" for="switch-toggle-1">
    <div class="switch-inner"></div>
    <div class="switch-toggle-switch"></div>
  </label>
</div>

<div class="switch-toggle rectangle">
  <input type="checkbox" id="switch-toggle-2" name="switch-toggle" class="switch-checkbox" checked/>
  <label class="switch-label" for="switch-toggle-2">
    <div class="switch-inner"></div>
    <div class="switch-toggle-switch"></div>
  </label>
</div>
