%table.tables
  %thead
    %tr
      %th Header Cell 1
      %th Header Cell 2
      %th Header Cell 3
  %tbody
    %tr
      %td Row 1 Cell 1
      %td Row 1 Cell 2
      %td
        %button Confirm
        %button Reject
    %tr
      %td Row 2 Cell 1
      %td Row 2 Cell 2
      %td
        %button Confirm
        %button Reject
    %tr
      %td Row 3 Cell 1
      %td Row 3 Cell 2
      %td
        %button Confirm
        %button Reject
    %tr
      %td Row 4 Cell 1
      %td Row 4 Cell 2
      %td
        %button Confirm
        %button Reject
