<div class="tooltip-item">
  Hover for Tooltip
  <div class="tooltip">
    <p>Tooltip text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, deserunt, reprehenderit, dicta, nesciunt pariatur non laboriosam mollitia inventore temporibus ut provident facilis amet placeat consequuntur nam natus quae quos optio.</p>
  </div>
</div>
