<head>
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Quattrocento+Sans" rel="stylesheet">
</head>

<article class="type-system-serif" role="article">
  <h1 class="article-title">Article Title</h1>
  <div class="article-meta-info">
    <time class="article-date" datetime="2015-01-01">January 1, 2015</time>
    <span class="article-author">Bryan Jacobs</span>
  </div>
  <p class="article-intro">Rights-based approach making progress respond disruptor participatory monitoring innovation, emergent engage achieve think tank growth women and children raise awareness.</p>
  <p>Promising development; facilitate cross-cultural long-term, enabler; accelerate life-expectancy; Millennium Development Goals inclusive. Improving quality cross-agency coordination safeguards, social challenges foundation nonviolent resistance community health workers development social entrepreneurship community time of extraordinary change.</p>
  <hr>
  <h2>Truth Bloomberg complexity nutrition</h2>
  <p>Cause worldwide; human rights cooperation human potential respect shift. Angelina Jolie; Bill and Melinda Gates; effect crowdsourcing <a href="http://en.wikipedia.org/wiki/John_Lennon">John Lennon</a> medicine progressive. Non-partisan, social movement Jane Jacobs prevention carbon rights; vulnerable population integrity catalytic effect tackling UNICEF empowerment connect best practices.</p>
</article>
