%head
  %link{:href => "//fonts.googleapis.com/css?family=Nunito:400,700,300", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "//fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}/
%body
  %article.type-system-rounded
    %p.type Article Type
    %h1 Article Heading
    %h2
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, perferendis! Odit quisquam
      %code code block
      dicta illum ipsa quod natus iure aliquid necessitatibus veritatis, itaque magnam aliquam, dolorum nostrum nemo, explicabo perspiciatis nobis!
    %p.date 30 Mar 2014
    %p
      %span> Lorem ipsum dolor sit amet
      , consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
      %a.read-more{:href => "javascript:void(0)"}
        Read More
        %span ›
    %h3 Subheading lorem
    %p
      %span Consequatur ullam, voluptatum
      incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.
    %hr/
    %p.author Author Name
