<section class="banner">
  <div class="container">
    <%= inline_svg "refills-logo", class: "banner-logo" %>
    <h1 class="banner-title">
      Accessible patterns and components built with
      <a class="banner-link" href="http://bourbon.io">Bourbon</a>
      and&nbsp;<a class="banner-link" href="http://bitters.bourbon.io">Bitters</a>.
    </h1>
    <p class="banner-byline">
      Maintained by thoughtbot
      <a class="banner-link" href="http://thoughtbot.com">thoughtbot</a>,
      instructions at
      <a class="banner-link" href="http://github.com/thoughtbot/refills">GitHub</a>.
    </p>
  </div>
</section>
