<header class="banner" role="banner">
  <div class="container container--narrow">
    <%= inline_svg "refills-logo", class: "banner-logo" %>
    <h1 class="banner-title">
      Accessible patterns and components built with
      <a href="http://bourbon.io">Bourbon</a>
      and&nbsp;<a href="http://bitters.bourbon.io">Bitters</a>.
    </h1>
    <p class="banner-byline">
      Maintained by
      <a href="http://thoughtbot.com">thoughtbot</a>, instructions
      at&nbsp;<a href="http://github.com/thoughtbot/refills">GitHub</a>.
    </p>
  </div>
</header>
