<footer class="site-footer">
  <div class="container">
    <p>
      Refills is maintained by the humans at
      <a href="https://thoughtbot.com">thoughtbot</a>.
    </p>

    <p>
      It's free software, and may be redistributed under the terms specified in
      the
      <a href="https://github.com/thoughtbot/refills/blob/master/LICENSE.md">license</a>.
    </p>

    <p>
      Copyright &copy; <%= Time.now.year %>
      <a href="https://thoughtbot.com">thoughtbot, inc</a>.
    </p>
  </div>
</footer>
