<div class="project-description">
  <p>
    Refills are a starting point for interactive patterns and components that
    are accessible and semantic. If you're using the Bourbon suite, we encourage
    you to copy and paste them into your project's codebase to build from.
  </p>

  <p>
    There may be minor variable or mixin conflicts with your own project. The
    components below were have been updated to work with Bourbon 5.0.0.beta.7
    and Bitters 1.5.0.
  </p>
</div>
