<div class="refills-header">
  <div class="refills-logo">
    <img src="/images/refills-logo.svg" alt="Refills logo">
  </div>
  <h2><span>Refills</span> are prepackaged patterns and components built with <a href="//bourbon.io">Bourbon</a>, <a href="//neat.bourbon.io">Neat</a> and <a href="//bitters.bourbon.io">Bitters</a>.</h2>
  <p>Managed by <a href="//thoughtbot.com">thoughtbot</a>, instructions at <a href="//github.com/thoughtbot/refills">GitHub</a></p>
</div>
