<div class="refills-header"> 
  <h2><span>These</span> are unstyled components, built on top of <a href="http://www.bourbon.io">Bourbon</a> and <a href="http://neat.bourbon.io/">Neat</a>.</h2>
  <p>Managed by <a href="http://www.thoughtbot.com">thoughtbot</a></p>
</div>
