<ul class="refills-menu">
  <li class="menu-item patterns"><%= link_to 'Patterns', '/index.html' %></li>
  <li class="menu-item components"><%= link_to 'Components', '/components.html' %></li>
  <li class="menu-item type-systems"><%= link_to 'Type Systems', '/type-systems.html' %></li>
</ul>
