<div class="refills-header">
  <div class="refills-logo">
    <%= partial "svgs/refills_logo" %>
  </div>
  <h2>Components and patterns built with <a href="//bourbon.io">Bourbon</a> and <a href="//neat.bourbon.io">Neat</a>.</h2>
  <div>
    <p>Managed by <a href="http://thoughtbot.com">thoughtbot</a>, instructions at <a href="//github.com/thoughtbot/refills">GitHub</a></p>
  </div>
</div>
