<% 3.times do %>
  <div class="refill">
    <h2>Example Component</h2>
    <p>
      This example component doesn't do anything of consequence. It's a
      placeholder.
    </p>
    <p>
      We're using it for the time being to set organize each refill's
      html/css/js, and render their code.
    </p>

    <div class="refill-wrapper">
      <%= partial "refills/example" %>
    </div>
  </div>
<% end %>
