%ul.refills-menu
  %li.menu-item.patterns= link_to 'Patterns', '/index.html'
  %li.menu-item.components= link_to 'Components', '/components.html'
  %li.menu-item.type-systems= link_to 'Type Systems', '/type-systems.html'
  %li.menu-item.unstyled= link_to 'Unstyled', '/unstyled.html'
