<ul>
  <li class="refill">
    <div class="container">
      <h2 class="refill-title">Dropdown</h2>
      <p>
        Dropdowns are used to display popup context menus or sub-level menus
        without a page refresh.
      </p>

      <div class="refill-wrapper">
        <%= partial "refills/dropdown" %>
      </div>
    </div>

    <%= code_for("dropdown") %>
  </li>
</ul>
