<div class="refills-type-systems">

  <a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
    <img src="/images/menu.png" alt="Menu icon">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <%= partial "refills-hero" %>
  <%= partial "refills-menu" %>

  <div id="example">
  
    <div id="type-systems">

       
    </div>
  </div>
</div>

<%= partial "refills-page-scripts" %>
