.container {
  @include margin(null auto);
  flex: 1 50%;
  padding: $base-spacing;

  @media (min-width: $medium-screen) {
    padding: $large-spacing;
  }

  @media (min-width: 1000px) {
    padding: $x-large-spacing;
  }
}

.container--narrow {
  max-width: 46em;
}
