.refill-wrapper {
  align-items: center;
  background-color: $secondary-background-color;
  border: $light-border;
  display: flex;
  justify-content: space-around;
  margin-top: $base-spacing;
  min-height: $x-large-spacing * 4;
  padding: $large-spacing;
}

.refill-body {
  border-bottom: $light-border;
}
