.site-footer {
  @include padding($large-spacing null);
  background-color: $base-background-color;

  a {
    color: $accent-color;

    &:hover,
    &:focus {
      color: $hover-accent-color;
    }
  }
}
