.snippets {
  background-color: $secondary-background-color;
  border-bottom: $light-border;
  border-left: $light-border;
}

.snippet:not(:last-child) {
  margin-bottom: $base-spacing;
}

.snippet-title {
  font-size: $base-font-size;
}

.snippet-code {
  @include margin(0 null);
  background-color: $base-background-color;
  box-shadow: $site-box-shadow;
  height: 20em;
  overflow: auto;
  padding: $small-spacing;
}
